<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <title>{% block title %}Home{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jqueryui.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.tagit.css" type="text/css" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/tagit.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/bootstrap.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/tag-it.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.tagit.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap/bootstrap-responsive.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap/bootstrap-responsive.min.css" type="text/css" />
        <script src="{{STATIC_URL}}js/modernizr.min.js" type="text/javascript" charset="utf-8"></script>
        <script>  $(document).ready(function(){
            $('input, textarea, select').addClass('input-large'); 
            $('.p').after('<br>');
            $('.helptext').remove();
            //Activate the dropdown menu capabilities
            $('.dropdown-toggle').dropdown();



       });</script> 
        {% block external %}{% endblock %}
    </head>
    <body>
        <div class="navbar">
              <div class="navbar-inner">
                <ul class="nav">
                  <li class="active"><a href="#">Globaltech</a></li>
                  <li class="divider-vertical"></li>
                  <li><a href="#">Clients</a></li>
                  <li class="divider-vertical"></li>
                  <li><a href="#">Services</a></li>
                  <li class="divider-vertical"></li>
                  <li><a href="#">Team</a></li>
                  <li class="divider-vertical"></li>
                  <li><a href="#">Experience</a></li>
                  <li class="divider-vertical"></li>
                </ul>
                {% if user.is_authenticated %}
                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li><a href="/profile/{{ user.id }}">Hi, {{ user.username }}</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="/logout">logout</a></li>
                    {% else %}
                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        <li><a href="/login" id="btn-hdr-submit-link">Login</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="/#community">Community</a></li>
                    {% endif %} 
                </ul>
                <form class="navbar-form pull-right">
                    <input type="text" class="span2">
                    <button type="submit" class="btn">Search</button>
                </form>
              </div>
            </div>


   

        
        {% block header %}{% endblock %}

    </header> 
   <div id="body">
    <div class="row"></div>
    <div class="span2"></div>
    <div class="span12">
    
        {% block content %}{% endblock %}
    </div>
    </div>
    </body>
</html>

