<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <title>{% block title %}Home{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jqueryui.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.tagit.css" type="text/css" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/tagit.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/bootstrap.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/mustache.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/tag-it.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.tagit.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap/bootstrap-responsive.min.css" type="text/css" />
        <script src="{{STATIC_URL}}js/modernizr.min.js" type="text/javascript" charset="utf-8"></script>
        <script>  $(document).ready(function(){
            $('input, textarea, select').addClass('input-large'); 
            $('.p').after('<br>');
            $('.helptext').remove();
            //Activate the dropdown menu capabilities
            $('.dropdown-toggle').dropdown();
            $('#myModal').modal({
              backdrop: 'static',
              keyboard: true
            });

       });</script> 
        {% block external %}{% endblock %}
    </head>
    <body>
        <div class="container">
    <ul class="nav nav-pills pull-right" style="margin-right: 15%;">
        <li class="dropdown all-camera-dropdown">
            <a class="dropdown-toggle dropdown-signin" data-toggle="dropdown" href="#">
                Sign in<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" data-html="true">
                <div>
                <form style="width: 250px; margin: 5%;">
                    <label for "username" >Username</label>
                    <input class="input-large" type="text" name="username" autocomplete="on">
                    <label for "password" >Password</label>
                    <input class="input-large" type="password" value="" name="password">
                    <fieldset class="subchck">
                        <label class="remember">
                            <input type="checkbox" value="1" name="remember_me" checked="checked">
                            <span>Remember me</span>
                        </label>
                        <button type="submit" class="btn submit">Sign in</button>
                    </fieldset>
                </form>
                </div>
            </ul>
        </li>

    </ul>
    <br style="height: 5px;"/>

    <a href="#" class="pull-right btn btn-success" id="signup" style="clear: both;margin-right: 15%;"><small>no account? </small>Sign Up!</a>
    <br/>
    <div class="masthead">
        <h3 class="muted">Logo Here</h3>


        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Profile</a>
                        </li>
                        <li>
                            <a href="#">Messages</a>
                        </li>
                        <li><a href="/company/new">Create Company</a> </li>
                        <li><a href="/news/new">Create Post</a> </li>
                        <li>
                            <a id="csearch" class="dropdown-toggle dropdown-signin" data-html="true" data-toggle="popover" data-placement="bottom" data-content='<form>
                <label for="company_name">
                    Company Name
                </label>
                <input type="text" class="input-medium" placeholder="Company Name">

                <div class="accordion" id="accordion2" style="width: 165px;">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                Industry
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    Biotech
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    Life Sciences
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    Big Data
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    Financial Services
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                Category
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    Category 1
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    Category 2
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    Category 3
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    Category 4
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
                                Country
                            </a>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    United States
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    Mexico
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    Colombia
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    Nicaragua
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    Venezuela
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    Peru
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    Bolivia
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    Chile
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    Costa Rica
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseFour">
                                Technologies
                            </a>
                        </div>
                        <div id="collapseFour" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    Django
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    Flask
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    Ruby on Rails
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    Sinatra
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseFour">
                                Status
                            </a>
                        </div>
                        <div id="collapseFour" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    GTB-1
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    GTB-2
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    GTB-3
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"></input>
                                    GTB-4
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-success">Search</a>
            </form>' href="#">Company Search</a>

                        </li>

                    <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                    {% if user.is_authenticated %}
        
                    
                    <li><a href="/profile/{{ user.id }}">Hi, {{ user.username }}</a></li>
                    <li><a href="/logout">Logout</a></li>
                    {% endif %} 
                    <li>
                      <form class="navbar-form pull-right">
                        <input type="text" class="span2">
                        <button type="submit" class="btn">Search</button>
                     </form>
                    </li>
                  

                    </ul>
                  </ul>
                </div><!--/.nav-collapse -->
              </div><!-- /.navbar-inner -->
            
        <!--- Modal Form -->
       <!--- Modal Form -->
       {% if user.is_authenticated %}

       {% else %}
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            
            <h3 id="myModalLabel">Login</h3>
          </div>
          <div class="modal-body">
            <p>Sign in with Your Globaltech User.</p>
            <form method="POST" action="/login/" >
              {% csrf_token %}
              {{ user_form.as_p}}
              <input type="submit" class="btn btn" value="Sign In" />
            </form>
          </div>
          <div class="modal-footer">
          </div>
        </div>

        {% endif %}
                        
                    </div>
                </div>
            </div>
            



       
        
        {% block header %}{% endblock %}

 
   <div id="body">
    <div class="row"></div>
    <div class="span2"></div>
    <div class="span12">
    
        {% block content %}{% endblock %}
    </div>
    </div>
    </body>
</html>
<script type="text/javascript">
        $('.dropdown-toggle').dropdown();
        $('.tooltipa').tooltip();
        $('#csearch').popover();

    </script>
