{% if company_list %}
    <h2 class="lead">Companies</h2>
    <ul class="companies">
    	<table class="table table-hover">
            <tbody>
        {% for company in company_list %}

  			<td>
                <div class="media">
                    <a class="pull-left thumbnail" href="#">
                        <img class="media-object" data-src="/media/{{ company.logo }}">
                    </a>
                    <div class="media-body">
      				<h3 class="media-heading" >
                        <a href="/company/{{ company.slug }}">
        			         {{ company.name }}
      			        </a>
                    </h3>
                
                  <h4 class="mute"> {{ company.categories }} </h4>
                <p class="mute"> 
                    {% if company.country%}
                        {{ company.country }} 
                    {% endif %}
                     {% if company.employee_quantity%}
                       | {{ company.employee_quantity }} 
                    {% endif %}
                    {% if company.industries%}
                       | {{ company.industries }}
                    {% endif %}

                </p>
                    </div>
                </div>
            </td>   
    			
             
        {% endfor %}
          
    	   </tbody>
        </table>
         <hr/>

    </ul>
{% endif %}


