{% extends "base.html" %}

{% block title %}{{ company.name  }}{% endblock %}
{% block external %}
    <script src="{{ STATIC_URL}}colorbox/jquery.colorbox-min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL}}colorbox/colorbox.css" /> 
    <script>
        jQuery(document).ready(function () {
            jQuery('a.gallery').colorbox({ opacity:0.5 , rel:'group1' });
        });
    </script>
    <script>
       $(document).ready(function(){

        //A list of all the classes and Id's of the elements to be treated as read only tags.
        var tag_ids  = ['#company-product','#company-certification', '#company-industries', '#company-customers', '#company-offices', '#company-tags', '#company-applications', '#company-technologies']; 



        //for(i in tag_ids){

            //Create read only tags for the degrees field
            //var degrees =  $(this).find(tag_ids[i]).html().split(",");
            //var string_degrees = ""; 


            //for( j  in degrees){
            //  string_degrees += "<code>" + degrees[j] + "</code>  ";
            //}

            //$(tag_ids[i]).html(string_degrees);

        //}
        //Obtain twitter name and prettify it for the profile
//        var twitter_name  = $(this).find('#company-twitter-url').text().split("/").pop();
//            $('#company-twitter-url').text("@"+twitter_name);
            
            
       
        //Obtain the facebook profile name.
//        var facebook_name  = $(this).find('#company-facebook-url').text().split("/").pop();
//        $('#company-facebook-url').text(facebook_name)


       })
</script>
{% endblock %}

{% block content %}
{% load humanize %}

<div class="row">
    <div class="span1"></div>
    <div class="span2">

        {% if percentage_profile %}
            <h5 class="pull-right">Profile {{ percentage_profile.percentage }}% complete</h5>
            <div class="percentage-box ">
                
               <div class="progress" style="width: 80%;">
                    <div class="bar" style="width: {{ percentage_profile.percentage }}%;"></div>
               </div>
            </div>
        {% endif %}
        <div>

            <p> </p>
        </div>
        
        <div class="media pull-right">
            <a href="#">
                {% if company.logo %}
    
                <img class="img-polaroid" data-src="holder.js/64x64" src="{{ MEDIA_URL }}{{ company.logo }}" height="130" width="160">
                {% else %}
                <img class="img-polaroid" data-src="holder.js/64x64" src="{{ STATIC_URL }}images/no_logo.png" height="96" width="140">
                
                {% endif %}
            </a>
        </div>
       

        <div "media" style="margin-top: 5%;">

            

                 <table>
                    <th><h5>General Information</h5> </th>
                {% if  user.is_staff or user.is_superuser or permission %}
                        <tr>
                            <td colspan="2"><strong>Phone:</strong></td>
                         </tr><tr>
                            <td colspan="2">{{ company.main_phone }}</td>
                        </tr>
                {% endif %}
                {% if company.founding_date %}
                    <tr>
                            <td><strong>Founding Date:</strong></td>
                            <td>{{ company.founding_date }}</td>
                    </tr>

                {% endif %}
                {% if company.categories %}
                    <tr>    
                        <td colspan="2"><strong>Industry:</strong></td>
                     </tr><tr>
                        <td colspan="2">{{ company.categories }}</td >
                    </tr>

                {% endif %}
                {% if company.applications %}
                    <tr>    
                        <td colspan="2"><strong>Applications:</strong></td>
                    </tr><tr>
                        <td colspan="2">{{ company.applications }}</td>
                    </tr>
                {% endif %}

                {% if company.employee_quantity %}
                    <tr>
                        <td colspan="2"><strong>No. Employees:</strong></td>
                    </tr><tr>
                        <td colspan="2">{{ company.get_employee_quantity_display }}</td>
                    </tr>
                {% endif %}

                {% if partnerships %}
                    <table>
                        <th>
                            <h4>Partnerships</h4>
                        </th>
                        <tr>    
                         {% for partner in partnerships %}
                         </tr><tr>
                            <td colspan="2"><strong>{{ partner.name }}</strong></td >
                        </tr>
                        </tr><tr>
                            <td colspan="2">{{ partner.description }}</td >
                        </tr>
                    
                    {% endfor %}
                    </table>
                {% endif %}

                {% if expertises %}
                        <div colspan="2"><strong>Expertise:</strong></div>
                        {% for expertise in expertises%}
                        <div colspan="2">{{ expertise.expertise }}</div>
                        {% endfor %}
                    {% if expertises2 %}
                    <a href="#" id="morere">more</a>
                    <a href="#" id="lesss" class="hide">less</a>

                        {% for expertise in expertises2 %}
                           <div colspan="2" class="">{{ expertise.expertise }}</div>
                        {% endfor %}
                    {% endif %}

                {% endif %}


                {% if verticals %}
                    <h4>Verticals</h4>
                    {% for vertical in verticals %}
                        <div colspan="2">{{ vertical.vertical }}</div>
                    {% endfor %}

                    {% if verticals2 %}
                    <a href="#" id="morere">more</a>
                    <a href="#" id="lesss" class="hide">less</a>

                        {% for vertical in verticals2 %}
                           <div colspan="2" class="hide mas">{{ vertical.vertical }}</div>
                        {% endfor %}
                    {% endif %}
                {% endif %}

                {% if alliances %}
                    <h4>alliances</h4>
                    {% for alliance in alliances %}
                        <div colspan="2">{{ alliance.name }}</div>
                    {% endfor %}

                    {% if alliances2 %}
                    <a href="#" id="more-alliance">more</a>
                    <a href="#" id="less-alliance" class="hide">less</a>

                        {% for alliance in alliances2 %}
                           <div colspan="2" class="hide plus-alliance">{{ alliance.name }}</div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if associations %}
                    <h4>associations</h4>
                    {% for association in associations %}
                        <div colspan="2">{{ association.name }}</div>
                    {% endfor %}

                    {% if associations2 %}
                    <a href="#" id="more-association">more</a>
                    <a href="#" id="less-association" class="hide">less</a>

                        {% for association in associations2 %}
                           <div colspan="2" class="hide plus-association">{{ association.name }}</div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            
        </div>
    </div>

    <div class="span6">
        <br/>
        <div class="media">
            <h2 class="media-heading">{{ company.name  }} </h2>
            <p><text class="muted" data-model="Company" data-url="/formfields/Company/{{ company.id }}/value_proposition/" data-pk="{{ company.id }}"  data-title="Value Proposition " id="company-value-proposition" data-type="wysihtml5" >{{ company.value_proposition|safe  }}</text> </p>

        </div>
        <div class="icons">
                {% if company.email %}
                    <a href="mailto:{{ company.email  }}"><span class="add-on"><img src="{{ STATIC_URL }}img/Mail-icon.png" height="16" width="16"></span></a>
                {% else %}
                    <span class="add-on"><img src="{{ STATIC_URL }}img/Mail-icon2.png" height="16" width="16"></span>
                {% endif %}

                {% for link in companylinks %}

                {% if link.linkedin_url %}
                    <a href="{{ link.linkedin_url }}"><span class="add-on"></span><img src="{{ STATIC_URL }}img/linkedin_icon.jpg" height="16" width="16"></span></a>
                {% else %}
                    <span class="add-on"><img src="{{ STATIC_URL }}img/linkedin_icon2.jpg" height="16" width="16"></span>
                {% endif %}

                {% if link.facebook_link %}
                    <a href="{{ link.facebook_link }}"><span class="add-on"><img src="{{ STATIC_URL }}img/fb1.jpg" height="16" width="16"></span></a>
                {% else %}
                    <span class="add-on"><img src="{{ STATIC_URL }}img/fb2.jpg" height="16" width="16"></span>

                {% endif %}

                {% if link.twitter_url %}
                    <a href="{{ link.twitter_url }}"><span class="add-on"><img src="{{ STATIC_URL }}img/twitter_icon1.jpg" height="16" width="16"></span></a>
                {% else %}
                    <span class="add-on"><img src="{{ STATIC_URL }}img/twitter_icon2.jpg" height="16" width="16"></span>
                {% endif %}

                {% if link.web_url %}
                    <a href="{{ link.web_url }}"><i class="icon-home"></i></a>
                {% else %}
                    <a href="{{ link.web_url }}"><i class="icon-home"></i></a>
                {% endif %}

                {% if link.blog_url %}
                    <a href="{{ link.blog_url }}"><i class="icon-user"></i></a>
                {% else %}
                    <i class="icon-user"></i>
                {% endif %}

                {% endfor%}
            </div>

        <div class="media">
            <h4 class="media-heading"><strong class="muted">Company Description:</strong></h4>
            <p id="company-description">{{ company.description|safe}}</p>
        </div>
        <div class="media">
            {% if company.tags %}
                <table> 
                    <tr>
                        <td>Related Categories:</td>
                    <tr></tr>
                        <td>{{ company.tags }}</td>
                    </tr>
                </table>
            {% endif %}
            <h4 class="media-heading muted">Related Categories:</h4>

            <span class="label label-info">Social Media</span> <span class="label label-info">Publicity</span> <span class="label label-info">Marketing</span>
        

        {# success Stories goes here #} 
                <h4 class="muted">Success Stories</h4>
                <table>
                    <tr>
                        <td><a href="{{ story.link.url }}"><i class="icon-file"></i> Causes: Building Awareness in Asia  </a></td>
                        <td><a href="{{ story.link.url }}"><i class="icon-file"></i> Zynga: Games as social interaction </a></td>
                    </tr>           
                    <tr>
                        <td>
                            <br/>
                            <a href="">More >></a>
                        </td>
                    </tr>
                 </table>
            {% if stories %}
                <h4 class="muted">Success Stories</h4>
                <table>
                    <tr>
                        {% for story in stories %}
                            <td><a href="{{ story.link.url }}"><i class="icon-file"></i> {{ story.title }} </a></td>

                        {% endfor %}
                    </tr>
                     <tr>
                        <td>
                            <br/>
                            <a href="">More >></a>
                        </td>
                    </tr>
                </table>
            {% endif %}
        </div>
        




    </div>
    <div class="span3"></div>



</div>
<script src="{{ STATIC_URL}}js/scripts.js"></script>  
{% endblock %}
</div>
</div>
