{% block external %} 
{% endblock %}
{% if company_list %}
    <h2 class="lead">Companies</h2>
    <ul class="companies">
              
        <a class="pull-right" id="excel_button" href="excel/export{{ request.get_full_path }}" data-toggle="tooltip" data-placement="top" data-original-title="Download the search results as an Excel File" ><img class="media-object" src="{{ STATIC_URL }}img/excel.png" height="40" width="40"></a><br>
        
        <script type="text/javascript">
            $('#excel_button').tooltip("show");
        </script>

    	<table class="table table-hover">

            <tbody>

        {% for company in company_list %}
        <tr>
    			<td>
                  <div class="media">
                    <div class="span2">
                      <a class="pull-left thumbnail" href="/company/{{ company.slug }}">
                        {% if company.logo %}
                          <img class="media-object" src="{{ MEDIA_URL }}{{ company.logo }}" height="130" width="178">
                        {% else %}
                          <img class="img-polaroid" data-src="holder.js/64x64" src="{{ STATIC_URL }}images/no_logo.png"  >
                        {% endif %}
                      </a>
                    </div>
                      <div class="media-body">
        				<h3 class="media-heading" >
                          <a href="/company/{{ company.slug }}">
          			         {{ company.name }}
        			        </a>
                      </h3>
                    {% if company.categories == None %}
                    <h4 class="mute"> Uncategorized </h4>

                    {% else %}
                    <h4 class="mute"> {{ company.categories }} </h4>  
                    {% endif %}
                    
                  <p class="mute"> 
                      {% if company.country%}
                          {{ company.country }} 
                      {% endif %}
                       {% if company.employee_quantity%}
                         | {{ company.get_employee_quantity_display }} employees
                      {% endif %}
                      {% if company.industries%}
                         | {{ company.industries }}
                      {% endif %}

                  </p>
                      </div>
                  </div>
              </td>   
      	</tr>
             
        {% endfor %}
 
    	   </tbody>
        </table>
         <hr/>

    </ul>
{% endif %}


