{% extends "base.html" %}

{% block title %}{{ company.name  }}{% endblock %}
{% block external %}
    <script src="{{ STATIC_URL}}colorbox/jquery.colorbox-min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL}}colorbox/colorbox.css" /> 
    <script>
        jQuery(document).ready(function () {
            jQuery('a.gallery').colorbox({ opacity:0.5 , rel:'group1' });
        });
    </script>
    <script>
       $(document).ready(function(){

        //A list of all the classes and Id's of the elements to be treated as read only tags.
        var tag_ids  = ['#company-product','#company-certification', '#company-industries', '#company-customers', '#company-offices', '#company-tags', '#company-applications', '#company-technologies']; 

        var company_tags = '{{ company.tags}}'

        for(i in company_tags){

            //Create read only tags for the degrees field
            var tags =  company_tags.split(",");
            var string_tags = ""; 


            for( j  in tags){
                string_tags += '<div class="label label-info">' + tags[j] + "</div>  ";
            }

            $("#co-tags").html(string_tags);

        }
        //for(i in tag_ids){

            //Create read only tags for the degrees field
            //var degrees =  $(this).find(tag_ids[i]).html().split(",");
            //var string_degrees = ""; 


            //for( j  in degrees){
            //  string_degrees += "<code>" + degrees[j] + "</code>  ";
            //}

            //$(tag_ids[i]).html(string_degrees);

        //}
        //Obtain twitter name and prettify it for the profile
//        var twitter_name  = $(this).find('#company-twitter-url').text().split("/").pop();
//            $('#company-twitter-url').text("@"+twitter_name);
            
            
       
        //Obtain the facebook profile name.
//        var facebook_name  = $(this).find('#company-facebook-url').text().split("/").pop();
//        $('#company-facebook-url').text(facebook_name)


       })
</script>
{% endblock %}

{% block content %}
{% load humanize %}

<div class="row">
    <div class="span1"></div>
    <div class="span2">

    {% if  user.is_staff or user.is_superuser or permission %}

        {% if percentage_profile %}
            <h5 class="pull-right">Profile {{ percentage_profile.percentage }}% complete</h5>
            <div class="percentage-box ">
                <br/>
               <div class="progress" style="width: 80%;">
                    <div class="bar" style="width: {{ percentage_profile.percentage }}%;"></div>
               </div>
            </div>
        {% endif %}
    {% endif %}
<br/>        
        <div class="media pull-right">
            <a href="#">
                {% if company.logo %}
    
                <img class="img-polaroid" data-src="holder.js/64x64" src="{{ MEDIA_URL }}{{ company.logo }}" height="130" width="160">
                {% else %}
                <img class="img-polaroid" data-src="holder.js/64x64" src="{{ STATIC_URL }}images/no_logo.png" height="96" width="140">
                
                {% endif %}
            </a>
        </div>
<br/>

        <div "media" style="margin-top: 5%;">

            

                 <table>
                    <th><h5>General Information</h5> </th>
                {% if  user.is_staff or user.is_superuser or permission %}
                        <tr>
                            <td colspan="2"><strong>Phone:</strong></td>
                         </tr><tr>
                            <td colspan="2">{{ company.main_phone }}</td>
                        </tr>
                {% endif %}
                {% if company.founding_date %}
                    <tr>
                            <td><strong>Founding Date:</strong></td>
                            <td>{{ company.founding_date }}</td>
                    </tr>

                {% endif %}
                {% if company.categories %}
                    <tr>    
                        <td colspan="2"><strong>Industry:</strong></td>
                     </tr><tr>
                        <td colspan="2">{{ company.categories }}</td >
                    </tr>

                {% endif %}
                {% if company.applications %}
                    <tr>    
                        <td colspan="2"><strong>Applications:</strong></td>
                    </tr><tr>
                        <td colspan="2">{{ company.applications }}</td>
                    </tr>
                {% endif %}

                {% if company.employee_quantity %}
                    <tr>
                        <td colspan="2"><strong>No. Employees:</strong></td>
                    </tr><tr>
                        <td colspan="2">{{ company.get_employee_quantity_display }}</td>
                    </tr>
 
                {% endif %}
               </table>


                <h5>Certifications:</h5>
                <div id="certifications">

                {% if certifications %}
                        {% for certification in certifications %}
                        <div colspan="2">{{ certification.name }}</div>
                        {% endfor %}
                    {% if certifications2 %}
                        {% for certification in certifications2 %}
                           <div colspan="2" class="hide plus-certification">{{ certification.name }}</div>
                        {% endfor %}
                    <a href="#" id="more-certification">more >></a>
                    <a href="#" id="less-certification" class="hide">less <<</a>
                    {% endif %}
                {% else %}
                    <br/>

                {% endif %}

                    
                </div>
                {####Partnerships####}
                <h5>Partnership:</h5>
                {% if partnerships %}
                        {% for partnership in partnerships%}
                        <div colspan="2">{{ partnership.name }}</div>
                        {% endfor %}
                    {% if partnerships2 %}
                        {% for partnership in partnerships2 %}
                           <div colspan="2" class="hide plus-partnership">{{ partnership.name }}</div>
                        {% endfor %}
                    <a href="#" id="more-partnership">more >></a>
                    <a href="#" id="less-partnership" class="hide">less <<</a>
                    {% endif %}

                {% else %}
                    <br/>
                {% endif %}


                <h5>Expertise:</h5>
                {% if expertises %}

                        {% for expertise in expertises%}
                        <div colspan="2">{{ expertise.name }}</div>
                        {% endfor %}
                    {% if expertises2 %}
                        {% for expertise in expertises2 %}
                           <div colspan="2" class="hide plus-expertise">{{ expertise.name }}</div>
                        {% endfor %}
                    <a href="#" id="more-expertise">more >></a>
                    <a href="#" id="less-expertise" class="hide">less <<</a>
                    {% endif %}
                {% else %}
                    <br/>
                {% endif %}


                <h5>Verticals:</h5>
                {% if verticals %}

                    {% for vertical in verticals %}
                        <div colspan="2">{{ vertical.name }}</div>
                    {% endfor %}

                    {% if verticals2 %}
                        {% for vertical in verticals2 %}
                           <div colspan="2" class="hide plus-vertical">{{ vertical.name }}</div>
                        {% endfor %}
                    <a href="#" id="more-vertical">more >></a>
                    <a href="#" id="less-vertical" class="hide">less <<</a>
                    {% endif %}
                {% else %}
                    <br/>
                {% endif %}


                <h5>Alliances:</h5>
                {% if alliances %}
                    
                    {% for alliance in alliances %}
                        <div colspan="2">{{ alliance.name }}</div>
                    {% endfor %}

                    {% if alliances2 %}
                        {% for alliance in alliances2 %}
                           <div colspan="2" class="hide plus-alliance">{{ alliance.name }}</div>
                        {% endfor %}
                    <a href="#" id="more-alliance">more >></a>
                    <a href="#" id="less-alliance" class="hide">less <<</a>
                    {% endif %}
                {% else %}
                    <br/>
                {% endif %}



                <h5>Technical Associations:</h5>
                {% if associations %}
                    {% for association in associations %}
                        <div colspan="2">{{ association.name }}</div>
                    {% endfor %}

                    {% if associations2 %}

                        {% for association in associations2 %}
                           <div colspan="2" class="hide plus-association">{{ association.name }}</div>
                        {% endfor %}
                    <a href="#" id="more-association">more >></a>
                    <a href="#" id="less-association" class="hide">less <<</a>
                    {% endif %}
                {% else %}
                    <br/>
                {% endif %}

                <h5>Awards:</h5>
                {% if awards %}
                    {% for award in awards %}
                        <div colspan="2">{{ award.name }}</div>
                    {% endfor %}

                    {% if awards2 %}

                        {% for award in awards2 %}
                           <div colspan="2" class="hide plus-award">{{ award.name }}</div>
                        {% endfor %}
                    <a href="#" id="more-award">more >></a>
                    <a href="#" id="less-award" class="hide">less <<</a>
                    {% endif %}
                {% else %}
                    <br/>
                {% endif %}
                
            
        </div>
    </div>

    <div class="span6">
    
        {% if  user.is_staff or user.is_superuser or permission %}
            
            <div class="pull-right" style="margin-right:80px;">
                <a class="btn" href="/company/{{ company.slug }}/edit"><i class="icon-pencil"></i> Edit </a>
            </div>
        {% endif %}

        <div class="media">
            <h2 class="media-heading">{{ company.name  }} </h2>
            <p><text class="muted" data-model="Company" data-url="/formfields/Company/{{ company.id }}/value_proposition/" data-pk="{{ company.id }}"  data-title="Value Proposition " id="company-value-proposition" data-type="wysihtml5" >{{ company.value_proposition|safe  }}</text> </p>

        </div>
        <div class="pull-right" style="margin-right:80px;"> 
        <div class="btn-group">
            <button class="btn">Follow</button>
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a tabindex="-1" href="#">Contact Company</a></li>
                <li><a tabindex="-1" href="#">Foll ow Blog</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="#">Something else here</a></li>
            </ul>
         </div>
        </div>

        <div class="icons">
                {% if company.email %}
                    <a href="mailto:{{ company.email  }}"><span class="add-on"><img src="{{ STATIC_URL }}img/Mail-icon.png" height="16" width="16"></span></a>
                {% else %}
                    <span class="add-on"><img src="{{ STATIC_URL }}img/Mail-icon2.png" height="16" width="16"></span>
                {% endif %}

                {% for link in companylinks %}

                {% if link.linkedin_url %}
                    <a href="{{ link.linkedin_url }}"><span class="add-on"></span><img src="{{ STATIC_URL }}img/linkedin_icon.jpg" height="16" width="16"></span></a>
                {% else %}
                    <span class="add-on"><img src="{{ STATIC_URL }}img/linkedin_icon2.jpg" height="16" width="16"></span>
                {% endif %}

                {% if link.facebook_link %}
                    <a href="{{ link.facebook_link }}"><span class="add-on"><img src="{{ STATIC_URL }}img/fb1.jpg" height="16" width="16"></span></a>
                {% else %}
                    <span class="add-on"><img src="{{ STATIC_URL }}img/fb2.jpg" height="16" width="16"></span>

                {% endif %}

                {% if link.twitter_url %}
                    <a href="{{ link.twitter_url }}"><span class="add-on"><img src="{{ STATIC_URL }}img/twitter_icon1.jpg" height="16" width="16"></span></a>
                {% else %}
                    <span class="add-on"><img src="{{ STATIC_URL }}img/twitter_icon2.jpg" height="16" width="16"></span>
                {% endif %}

                {% if link.web_url %}
                    <a href="{{ link.web_url }}"><i class="icon-home"></i></a>
                {% else %}
                    <a href="{{ link.web_url }}"><i class="icon-home"></i></a>
                {% endif %}

                {% if link.blog_url %}
                    <a href="{{ link.blog_url }}"><i class="icon-user"></i></a>
                {% else %}
                    <i class="icon-user"></i>
                {% endif %}

                {% endfor%}
            </div>

        <div class="media">
            <h4 class="media-heading"><strong class="muted">Company Description:</strong></h4>
            <p id="company-description">{{ company.description|safe}}</p>
        </div>
        <div class="media">
            {# To Change #}
            {% if company.tags %}
                <table> 
                    <tr>
                        <td><h4 class="media-heading muted">Related Categories:</h4></td>
                    <tr></tr>
                        <td id="co-tags"></td>
                    </tr>
                </table>
            {% endif %}
        <br/>
        <div id="country"> 
        <h4 class="muted">Country:</h4>
        {% if company.country %}
        <div id="world-map" style="width: 600px; height: 400px"></div>

        <p>{{ company.country }}</p>        
        {% else %}
            <br/>
        {% endif %}

        </div>
        
        {# Success Stories goes here #} 
        <h4 class="muted">Success Stories:</h4>
        {% if stories %}
            {% for story in stories %}
                 {% if story.link %}
                    {% if story.story_image %}
                        <img class="img-polaroid" data-src="holder.js/64x64" src="{{ MEDIA_URL }}{{ story.story_image}}" height="96", width="140">                        
                    {% endif %}

                    <div colspan="2"><a href="{{ story.link.url }}"><i class="icon-file"></i>{{ story.title }}</a></div>
                {% endif %}
                <br/>

            {% endfor %}
            {% if stories2 %}
                {% for story in stories2 %}
                    {% if story.link %}
                    {% if story.story_image %}
                        <img class="img-polaroid" data-src="holder.js/64x64" src="{{ MEDIA_URL }}{{ story.story_image}}" height="96", width="140">                        
                    {% endif %}

                        <div colspan="2"><a href="{{ story.link.url }}">{{ story.title }}</a></div>
                    {% endif %}
                    <br/>
                {% endfor %}
                <a href="#" id="more-stories">More >></a>
                <a href="#" id="less-stories" class="hide">less <<</a>
            {% endif %}
        {% else %}
            <br/>
       {% endif %}


        {# Products goes here #} 
        
        <h4 class="muted">Products:</h4>
        {% if products %}

            <table class="table table-borderless" >
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                    </tr>
              </thead>
                <tbody>
                    <tr>
                {% for product in products %}
                       <td>{{ product.name }}</td>
                       <td>US ${{ product.price|floatformat:"2"|intcomma }}</td>
                    </tr>
                {% endfor %}
                {% if products2 %}
                    <tr>
                    {% for product in products2 %}
                           <td class="hide plus-product">{{ product.name }}</td>
                           <td class="hide plus-product">US ${{ product.price|floatformat:"2"|intcomma }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>

            {# Trick to display more/less bottom the table #}
            {% if products2 %}
                <a href="#" id="more-product">more >></a>
                <a href="#" id="less-product" class="hide">less <<</a>
            {% endif %}

        {% else %}
            <br/>
       {% endif %}

        {# Recommendations goes here #} 
        
       </div>
        



    </div>
    <div class="span3">
                <h5>Similar Companies:</h5>
                {% if similars %}
                    {% for similar in similars %}
                        <a href="/company/{{ similar.slug }}">
                        <div colspan="2">{{ similar.name }}</div>
                        <div>
                        {% if similar.logo %}
            
                        <img class="img-polaroid" data-src="holder.js/64x64" src="{{ MEDIA_URL }}{{ similar.logo }}" height="65" width="115" >

                        {% else %}

                        <img class="img-polaroid" data-src="holder.js/64x64" src="{{ STATIC_URL }}images/no_logo.png" height="65" width="115">
                        
                        {% endif %}
                            
                        </div></a>
                    {% endfor %}
                    
                    {% if similars2 %}
                        {% for similar in similars2 %}
                        <div class="hide plus-similar">
                            <a href="/company/{{ similar.slug }}">
                            <div colspan="2">{{ similar.name }}</div>
                            {% if similar.logo %}
            
                                <img class="img-polaroid" data-src="holder.js/64x64" src="{{ MEDIA_URL }}{{ similar.logo }}" height="130", width="178">
                                {% else %}
                                <img class="img-polaroid" data-src="holder.js/64x64" src="{{ STATIC_URL }}images/no_logo.png" height=96, width=140  >

                            {% endif %}

                        </div></a>

                        {% endfor %}
                    <a href="#" id="more-similar">more >></a>
                    <a href="#" id="less-similar" class="hide">less <<</a>
                    {% endif %}

                {% else %}
                    <br/>
                {% endif %}


                <h5>Projects:</h5>
                {% if projects %}
                        {% for project in projects %}
                        <div colspan="2">{{ project.name }}</div>
                        {% endfor %}
                    {% if projects2 %}
                        {% for project in projects2 %}
                           <div colspan="2" class="hide plus-project">{{ project.name }}</div>
                        {% endfor %}
                    <a href="#" id="more-project">more >></a>
                    <a href="#" id="less-project" class="hide">less <<</a>
                    {% endif %}
                {% else %}
                    <br/>
                {% endif %}


                <h5>Acquisitions:</h5>
                {% if acquisitions %}
                        {% for acquisition in acquisitions %}
                        <div colspan="2">{{ acquisition.name }}</div>
                        {% endfor %}
                    {% if acquisitions2 %}
                        {% for acquisition in acquisitions2 %}
                           <div colspan="2" class="hide plus-acquisition">{{ acquisition.name }}</div>
                        {% endfor %}
                    <a href="#" id="more-acquisition">more >></a>
                    <a href="#" id="less-acquisition" class="hide">less <<</a>
                    {% endif %}
                {% else %}
                    <br/>
                {% endif %}



        
    </div>



</div>
<link href="{{ STATIC_URL }}css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
<script src="{{ STATIC_URL }}js/jquery-jvectormap-1.2.2.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-jvectormap-world-mill-en.js"></script>
<script src="{{ STATIC_URL}}js/scripts.js"></script>  
<script>

    $(function(){
        $('#world-map').vectorMap({
            map: 'world_mill_en',
            zoomButtons : false,
            series: {
                  regions: [{
                    values: {
                        {{ company.country.country_code }}:'#0071A4',
                    }
                }]
            }
                    
        });
    });

  </script>
{% endblock %}
</div>
</div>
