{% extends "base.html" %}
{% block external %}
{% endblock %}

{% block content %}
<br/>
{% if user.is_authenticated %}
<h1>Hello {{ user }}, you are able to edit this company <a href="/company/{{ company.slug }}/update">Here</a> </h1>
{% endif %}
<p> {{ company.name  }}</p>
<p> {{ company.description  }}</p>
<p> {{ company.value_proposition  }}</p>
<p> {{ company.overview  }}</p>
<p> {{ company.management  }}</p>
<p> {{ company.web_url }}</p>
<p> {{ company.blog_url  }}</p>
<p> {{ company.t_url  }}</p>
<p> {{ company.main_phone  }}</p>
<p> {{ company.email  }}</p>
<p> {{ company.industries }}</p>
<p> {{ company.tech_area }}</p>
<p> {{ company.category }}</p>
<p> {{ company.application }}</p>
<p> {{ company.tags }}</p>
<p> {{ company.offices }}</p>
<p> {{ company.funding }}</p>
<p> {{ company.acquisition }}</p>
<p> {{ company.product }}</p>
<p> {{ company.certification }}</p>
<p> {{ company.customer }}</p>
<!--#    project = models.ManyToManyField("Project")
#    links = models.ForeignKey("URLs") -->
<p> {{ company.contact }}</p>
<!-- These data is only available for the LATech Users-->
{% if user.is_authenticated %}
{% if company.scalability_rating %}
<p> {{ company.scalability_rating }}</p>
{% endif %}
{% if company.expansion_rating %}
<p> {{ company.expansion_rating }}</p>
{% endif %}
{% if company.physical_plant_rating %}
<p> {{ company.physical_plant_rating }}</p>
{% endif %}
{% if company.profilatibily_rating %}
<p> {{ company.profilatibily_rating}}</p>
{% endif %}
{% if company.ret_talent_rating %}
<p> {{ company.ret_talent_rating }}</p>
{% endif %}
{% if company.financials_rating %}
<p> {{ company.financials_rating }}</p>
{% endif %}
{% if company.rating_of_ownership %}
<p> {{ company.rating_of_ownership }}</p>
{% endif %}
{% if company.gtb_overall_rating %}
<p> {{ company.gtb_overall_rating }}</p>
{% endif %}
{% endif %}
{% endblock %}


