{% extends "base.html" %}

{% block title %}{{ company.name  }}{% endblock %}

{% block external %}
<script type="text/javascript">
    $("ul.errorlist").addClass("alert");
    //$(document).ready(function() {
        //$("select[id*='id_company']").remove();
        //$("label[for ='id_company']").remove();

    //    $("#id_funding-company").remove();

    //    $("#id_funding-round").append('<p><input type="hidden" name="funding-company" id="id_funding-company" value="3"></input></p>');

    //    $('#id_company-company').keyup(function(){
    //    	var value = $(this).val();
    //    	$("#id_funding-company").attr("value", value);
    //    }).keyup();    });
</script>
{% endblock %}

{% block content %}
<div id="company-form-container" class="container">
<form enctype="multipart/form-data" method="post" action=".">{% csrf_token %}
	


    {% if form_errors %}
        <div class="alert" > <strong>Warning!</strong>The Following fields need to be completed correctly:
            {% for error in form_errors %}
                <div class="text-error">*{{ error }}</div>



            {% endfor %}
        </div>
    {% endif %}


{% if company_form %}
<h2> New Company Submission </h2> 
<hr class="bs-docs-separator">
<p>Welcome! To submit a company, please enter as much information as you can (otherwise leave blank).</p>

	{{ company_form.as_p }}
{% else %}
      {{form.as_p}}

{% endif %}
<script type="text/javascript">
    $("ul.errorlist").addClass("text-error");
    $(".textarea").wysihtml5();
    </script>
    
    
{% if funding_form %}
<h2>Funding</h2>
<hr class="bs-docs-separator">
<p>Please include all previous funding rounds.</p>

	{{ funding_form.as_p }}					
{% endif %}

{% if competitors_form %}
<h2>Competitors</h2>
<hr class="bs-docs-separator">
<p>Click add to submit competitors.</p>

	{{ competitors_form.as_p }}
{% endif %}

{% if company_rating_form %}
<h2>Ratings</h2>
<hr class="bs-docs-separator">
<p>Please include all previous funding rounds.</p>

	{{ company_rating_form.as_p }}					
{% endif %}

{% if office_form %}
Offices
<hr class="bs-docs-separator">
Please list office addresses, if any.

	{{ office_form.as_p }}
{% endif %}

<button type="submit" class="btn">Submit Form</button>

</form>
    <link href="{{ STATIC_URL }}bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}bootstrap-editable/js/bootstrap-editable.js"></script>
    <link href="{{ STATIC_URL }}inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.css" rel="stylesheet"> 
    <script src="{{ STATIC_URL }}inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/wysihtml5-0.3.0.min.js"></script>  
    <script src="{{ STATIC_URL }}inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.min.js"></script>
    <script src="{{ STATIC_URL }}inputs-ext/wysihtml5/wysihtml5.js"></script>
    <script src="{{ STATIC_URL }}js/moment.min.js"></script>

{% endblock %}
