{% extends "base.html" %}

{% block title %}{{ company.name  }}{% endblock %}
{% block external %}
    <script src="{{ STATIC_URL}}colorbox/jquery.colorbox-min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL}}colorbox/colorbox.css" /> 
    <script>
        jQuery(document).ready(function () {
            jQuery('a.gallery').colorbox({ opacity:0.5 , rel:'group1' });
        });
    </script>
    <script>
       $(document).ready(function(){

        //A list of all the classes and Id's of the elements to be treated as read only tags.
        var tag_ids  = ['#company-product','#company-certification', '#company-industries', '#company-customers', '#company-offices', '#company-tags', '#company-applications', '#company-technologies']; 

        var company_tags = '{{ company.tags}}'

        for(i in company_tags){

            //Create read only tags for the degrees field
            var tags =  company_tags.split(",");
            var string_tags = ""; 


            for( j  in tags){
                string_tags += '<div class="label label-info">' + tags[j] + "</div>  ";
            }

            $("#co-tags").html(string_tags);

        }
        //for(i in tag_ids){

            //Create read only tags for the degrees field
            //var degrees =  $(this).find(tag_ids[i]).html().split(",");
            //var string_degrees = ""; 


            //for( j  in degrees){
            //  string_degrees += "<code>" + degrees[j] + "</code>  ";
            //}

            //$(tag_ids[i]).html(string_degrees);

        //}
        //Obtain twitter name and prettify it for the profile
//        var twitter_name  = $(this).find('#company-twitter-url').text().split("/").pop();
//            $('#company-twitter-url').text("@"+twitter_name);
            
            
       
        //Obtain the facebook profile name.
//        var facebook_name  = $(this).find('#company-facebook-url').text().split("/").pop();
//        $('#company-facebook-url').text(facebook_name)


       })
</script>
{% endblock %}

{% block content %}
{% load humanize %}

<div class="row">
    <div class="span1"></div>
    <div class="span2">

    {% if  user.is_staff or user.is_superuser or permission %}

        {% if percentage_profile %}
            <h5 class="pull-right">Profile {{ percentage_profile.percentage }}% complete</h5>
            <div class="percentage-box ">
                <br/>
               <div class="progress" style="width: 80%;">
                    <div class="bar" style="width: {{ percentage_profile.percentage }}%;"></div>
               </div>
            </div>
        {% endif %}
    {% endif %}
<br/>        
        <div class="media pull-right">
            <a href="#">
                {% if company.logo %}
    
                <img class="img-polaroid" data-src="holder.js/64x64" src="{{ MEDIA_URL }}{{ company.logo }}" height="130" width="160">
                {% else %}
                <img class="img-polaroid" data-src="holder.js/64x64" src="{{ STATIC_URL }}images/no_logo.png" height="96" width="140">
                
                {% endif %}
            </a>
        </div>
<br/>

        <div "media" style="margin-top: 5%;">

            

                 <table class="table-borderless">
                    <th><h5>General Information</h5> </th>
                {% if  user.is_staff or user.is_superuser or permission %}
                        <tr>
                            <td colspan="2"><strong>Phone:</strong></td>
                         </tr><tr>
                            <td colspan="2" data-type="tel" data-model="Company" data-url="/formfields/Company/{{ company.id }}/main_phone/" data-pk="{{ company.id }}"  data-title="Company Main Phone"  id="company-phone" class="editable-value" href="{{ company.main_phone }}">{{ company.main_phone }}<i class="icon-pencil"></i></td>
                        </tr>
                {% endif %}
                {% if company.founding_date %}
                    <tr>
                            <td><strong>Founding Date:</strong></td>
                            <td class="editable-value" data-type="number"  data-model="Company" data-url="/formfields/Company/{{ company.id }}/founding_date/" data-pk="{{ company.id }}" data-title="Company Since">{{ company.founding_date }}</td>
                    </tr>

                {% endif %}
                {% if company.categories %}
                    <tr>    
                        <td colspan="2"><strong>Industry:</strong></td>
                     </tr><tr>
                        <td colspan="2">{{ company.categories }}</td >
                    </tr>

                {% endif %}
                {% if company.applications %}
                    <tr>    
                        <td colspan="2"><strong>Applications:</strong></td>
                    </tr><tr>
                        <td colspan="2" data-type="text" data-model="Company" data-url="/formfields/Company/{{ company.id }}/applications/" data-pk="{{ company.id }}"  data-title="Company Applications" class="editable-value" >{{ company.applications }}<i class="icon-pencil"></i></td>
                    </tr>
                {% endif %}

                {% if company.employee_quantity %}
                    <tr>
                        <td colspan="2"><strong>No. Employees:</strong></td>
                    </tr><tr>
                        <td colspan="2" data-type="select" id="size-company" data-model="Company" data-url="/formfields/Company/{{ company.id }}/employee_quantity/" data-pk="{{ company.id }}" data-title="Company Size"> {{ company.get_employee_quantity_display }}</td>
                    </tr>
 
                {% endif %}
               </table>


                <h5>Certifications:</h5>
                {% if certifications %}
                        {% for certification in certifications %}
                        <div colspan="2" data-type="text" data-model="Certification" data-url="/formfields/Certification/{{ certification.id }}/name/" data-pk="{{ certification.id }}"  data-title="Certification" class="editable-value" >{{ certification.name }}<i class="icon-pencil"></i></div>
                        {% endfor %}
                {% else %}
                    <br/>

                {% endif %}

                {####Partnerships####}
                <h5>Partnership:</h5>
                {% if partnerships %}
                        {% for partnership in partnerships%}
                        <div colspan="2" data-type="text" data-model="Partnership" data-url="/formfields/Partnership/{{ partnership.id }}/name/" data-pk="{{ partnership.id }}"  data-title="partnership" id="partnership" class="editable-value">{{ partnership.name }}<i class="icon-pencil"></i></div>
                        {% endfor %}
                {% else %}
                    <br/>
                {% endif %}


                <h5>Expertise:</h5>
                {% if expertises %}

                        {% for expertise in expertises%}
                        <div colspan="2" data-type="text" data-model="Expertise" data-url="/formfields/Expertise/{{ expertise.id }}/name/" data-pk="{{ expertise.id }}" class="editable-value" data-title="Expertises">{{ expertise.expertise }}<i class="icon-pencil"></i></div>
                        {% endfor %}
                    {% if expertises2 %}
                        {% for expertise in expertises2 %}
                           <div colspan="2" data-type="text" data-model="Expertise" data-url="/formfields/Expertise/{{ expertise.id }}/name/" data-pk="{{ expertise.id }}" class="editable-value hide plus-expertise" data-title="Expertises">{{ expertise.expertise }}<i class="icon-pencil"></i></div>
                        {% endfor %}
                    <a href="#" id="more-expertise">more >></a>
                    <a href="#" id="less-expertise" class="hide">less <<</a>
                    {% endif %}
                {% else %}
                    <br/>
                {% endif %}


                <h5>Verticals:</h5>
                {% if verticals %}

                    {% for vertical in verticals %}
                        <div colspan="2" data-type="text" data-model="Vertical" data-url="/formfields/Vertical/{{ vertical.id }}/vertical/" data-pk="{{ vertical.id }}" class="editable-value" data-title="Vertical Name">{{ vertical.vertical }}<i class="icon-pencil"></i></div>
                    {% endfor %}

                    {% if verticals2 %}
                        {% for vertical in verticals2 %}
                           <div colspan="2" data-type="text" data-model="Vertical" data-url="/formfields/Vertical/{{ vertical.id }}/vertical/" data-pk="{{ vertical.id }}" class="editable-value hide plus-vertical" data-title="Vertical Name">{{ vertical.vertical }}<i class="icon-pencil"></i></div>
                        {% endfor %}
                    <a href="#" id="more-vertical">more >></a>
                    <a href="#" id="less-vertical" class="hide">less <<</a>
                    {% endif %}
                {% else %}
                    <br/>
                {% endif %}


                <h5>Alliances:</h5>
                {% if alliances %}
                    
                    {% for alliance in alliances %}
                        <div colspan="2" data-type="text" data-model="Alliance" data-url="/formfields/Alliance/{{ alliance.id }}/name/" data-pk="{{ alliance.id }}"  data-title="alliance" class="editable-value">{{ alliance.name }}<i class="icon-pencil"></i></div>
                    {% endfor %}

                    {% if alliances2 %}
                        {% for alliance in alliances2 %}
                           <div colspan="2" data-type="text" data-model="Alliance" data-url="/formfields/Alliance/{{ alliance.id }}/name/" data-pk="{{ alliance.id }}"  data-title="alliance" class="hide plus-alliance editable-value">{{ alliance.name }}<i class="icon-pencil"></i></div>
                        {% endfor %}
                    <a href="#" id="more-alliance">more >></a>
                    <a href="#" id="less-alliance" class="hide">less <<</a>
                    {% endif %}
                {% else %}
                    <br/>
                {% endif %}



                <h5>Technical Associations:</h5>
                {% if associations %}
                    {% for association in associations %}
                        <div colspan="2" data-type="text" data-model="TechnicalAssociation" data-url="/formfields/TechnicalAssociation/{{ association.id }}/name/" data-pk="{{ association.id }}"  data-title="Association" class="editable-value">{{ association.name }}<i class="icon-pencil"></i></div>
                    {% endfor %}

                {% else %}
                    <br/>
                {% endif %}

                <h5>Awards:</h5>
                {% if awards %}
                    {% for award in awards %}
                        <div colspan="2" data-type="text" data-model="Award" data-url="/formfields/Award/{{ award.id }}/name/" data-pk="{{ award.id }}"  data-title="Award" class="editable-value">{{ award.name }}<i class="icon-pencil"></i></div>
                    {% endfor %}

                {% else %}
                    <br/>
                {% endif %}
                
            
        </div>
    </div>

    <div class="span6">
    
        {% if  user.is_staff or user.is_superuser or permission %}
            
            <div class="pull-right" style="margin-right:80px;">
                <button type="button" class="btn btn-primary" data-toggle="button" ONCLICK="window.location.href='/company/{{ company.slug }}'">  Edited  </button>
            </div>
        {% endif %}

        <div class="media">
            <h2 class="media-heading">{{ company.name  }} </h2>
            <data-toggle="popover" data-placement="right" id="valuepop" data-content="Who is your customer:(Segments)<br/> What problem do you solve:<br/>How do you solve it:</br>How is it different from other available solutions: <br/> What is the benefit to your customer:" data-html="true" class="fade" title="Value Proposition"/><p><text class="editable-value muted" data-model="Company" data-url="/formfields/Company/{{ company.id }}/value_proposition/" data-pk="{{ company.id }}"  data-title="Value Proposition " id="company-value-proposition" data-type="wysihtml5" >{{ company.value_proposition|safe  }}</text><i class="icon-pencil"></i></p>

    
        </div>
        <div class="icons">
            <a href="mailto:{{ company.email  }}" id="more-email"><span class="add-on"><img src="{{ STATIC_URL }}img/Mail-icon.png" height="16" width="16"></span></a>
            <a href="#" id="less-email" class="hide"><span class="add-on"><img src="{{ STATIC_URL }}img/Mail-icon2.png" height="16" width="16"></span></a>

            {% for link in companylinks %}

                <a href="#" id="more-linkedin"><span class="add-on"><img src="{{ STATIC_URL }}img/linkedin_icon.jpg" height="16" width="16"></span></a>
                <a href="#" id="less-linkedin" class="hide"><span class="add-on"><img src="{{ STATIC_URL }}img/linkedin_icon2.jpg" height="16" width="16"></span></a>

                <a href="#" id="more-facebook"><span class="add-on"><img src="{{ STATIC_URL }}img/fb1.jpg" height="16" width="16"></span></a>
                <a href="#" id="less-facebook" class="hide"><span class="add-on"><img src="{{ STATIC_URL }}img/fb2.jpg" height="16" width="16"></span></a>

                <a href="#" id="more-twitter"><span class="add-on"><img src="{{ STATIC_URL }}img/twitter_icon1.jpg" height="16" width="16"></span></a>
                <a href="#" id="less-twitter" class="hide"><span class="add-on"><img src="{{ STATIC_URL }}img/twitter_icon2.jpg" height="16" width="16"></span></a>

                <a href="#" id="more-weburl"><i class="icon-home"></i></a>
                <a href="#" id="less-weburl" class="hide"><i class="icon-home"></i></a>                    

                <a href="#" id="more-blog"><i class="icon-user"></i></a>
                <a href="#" id="less-blog" class="hide"><i class="icon-user"></i></a>

                {% endfor%}
                <i class="icon-pencil"></i>
                
            </div>

            <div id="email" class="hide plus-email">
                <br>
                <div>Email: <a id="company-url" data-model="Company" data-url="/formfields/Company/{{ company.id }}/email/" data-pk="{{ company.id }}" data-title="Company Email" data-type="email" class="editable-value" href="{{ company.email }}">{{ company.email }}</a></div>
            </div>

        {% for link in companylinks %}
            <div id="linkedin"  class="hide plus-linkedin"><br>
                Linked In: <a id="company-li" data-model="CompanyLink" data-url="/formfields/CompanyLink/{{ link.id }}/linkedin_url/" data-pk="{{ link.id }}" data-title="Company Linkedin" data-type="url" class="editable-value" href="{{ link.linkedin_url }}">{{ link.linkedin_url }}</a>
            </div>
            <div id="facebook" class="hide plus-facebook"> <br>
                Facebook: <a data-model="CompanyLink" data-url="/formfields/CompanyLink/{{ link.id }}/facebook_link/" data-pk="{{ link.id }}" data-title="Company Facebook" data-type="url" id = "company-facebook-url" class="editable-value" href="{{ link.facebook_link  }} ">{{ link.facebook_link  }}</a>
            </div>
            <div id="twitter" class="hide plus-twitter"> <br>
                Twitter: <a data-model="CompanyLink" data-url="/formfields/CompanyLink/{{ link.id }}/twitter_url/" data-pk="{{ link.id }}" data-title="Company Twitter" data-type="url" id = "company-twitter-url" class="editable-value" href="{{ link.twitter_url  }} ">{{ link.twitter_url  }}</a>
            </div>
            <div id="weburl" class="hide plus-weburl"><br>
                Company Url:<a id="company-url" data-model="CompanyLink" data-url="/formfields/CompanyLink/{{ link.id }}/web_url/" data-pk="{{ link.id }}" data-title="Company Link" data-type="url" class="editable-value" href="{{ link.web_url }}">{{ link.web_url }}</a>
            </div>
            <div id="blog" class="hide plus-blog"><br>
                Company Blog: <a data-model="CompanyLink" data-url="/formfields/CompanyLink/{{ link.id }}/blog_url/" data-pk="{{ link.id }}" data-title="Company Blog URL" data-type="url" id="company-blog-url" class="editable-value" href="{{ link.blog_url  }}">{{ link.blog_url  }}</a>
            </div>

        {% endfor %}

        <div class="media">
            <h4 class="media-heading"><strong class="muted">Company Description:</strong></h4>
            <p><text id="company-description" data-model="Company" data-url="/formfields/Company/{{ company.id }}/description/" data-pk="{{ company.id }}"  data-title="Company Description" data-type="wysihtml5" class="editable-value" >{{ company.description|safe}}<i class="icon-pencil"></i> </text> </p> 
        </div>
        <div class="media">
            {# To Change #}
            {% if company.tags %}
                <table> 
                    <tr>
                        <td><h4 class="media-heading muted">Related Categories:</h4></td>
                    <tr></tr>
                        <td data-model="Company" data-url="/formfields/Company/{{ company.id }}/tags/" data-pk="{{ company.id }}"  data-title="Company Tags" data-type="text" class="editable-value" id="co-tags">{{ company.tags }}</td>
                    </tr>
                </table>
            {% endif %}
        <br/>
        {# Success Stories goes here #} 
        <h4 class="muted">Success Stories:</h4>
        {% if stories %}
            {% for story in stories %}
                 {% if story.link %}
                    <div colspan="2"><a href="{{ story.link.url }}"><i class="icon-file"></i>{{ story.title }}</a></div>
                {% endif %}
                <br/>

            {% endfor %}
        {% else %}
            <br/>
       {% endif %}


        {# Products goes here #} 
        
        <h4 class="muted">Products:</h4>
        {% if products %}

            <table class="table table-borderless" >
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                    </tr>
              </thead>
                <tbody>
                    <tr>
                {% for product in products %}
                       <td data-type="text" data-model="Product" data-url="/formfields/Product/{{ product.id }}/name/" data-pk="{{ product.id }}" class="editable-value" data-title="Product Name"><i class="icon-pencil"></i>{{ product.name }}</td>
                       <td data-type="text" data-model="Product" data-url="/formfields/Product/{{ product.id }}/price/" data-pk="{{ product.id }}" class="editable-value" data-title="Product Price" >US ${{ product.price|intcomma }}<i class="icon-pencil"></i></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <br/>
       {% endif %}

        {# Recommendations goes here #} 
        
       </div>
        



    </div>
    <div class="span3">
      
                <h5>Projects:</h5>
                {% if projects %}
                        {% for project in projects %}
                        <div colspan="2" data-type="text" data-model="Project" data-url="/formfields/Project/{{ project.id }}/name/" data-pk="{{ project.id }}"  data-title="Project" class="editable-value ">{{ project.name }}<i class="icon-pencil"></i></div>
                        {% endfor %}
                {% else %}
                    <br/>
                {% endif %}


                <h5>Acquisitions:</h5>
                {% if acquisitions %}
                        {% for acquisition in acquisitions %}
                        <div colspan="2" data-type="text" data-model="Acquisition" data-url="/formfields/Acquisition/{{ acquisition.id }}/name/" data-pk="{{ acquisition.id }}" class="editable-value" data-title="Acquired Name" >{{ acquisition.name }}<i class="icon-pencil"></i></div>
                        {% endfor %}
                    <br/>
                {% endif %}



        
    </div>



</div>
    <script src="{{ STATIC_URL}}js/scripts.js"></script>  
    <link href="{{ STATIC_URL }}bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}bootstrap-editable/js/bootstrap-editable.js"></script>
    <link href="{{ STATIC_URL }}inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.css" rel="stylesheet"> 
    <script src="{{ STATIC_URL }}inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/wysihtml5-0.3.0.min.js"></script>  
    <script src="{{ STATIC_URL }}inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.min.js"></script>
    <script src="{{ STATIC_URL }}inputs-ext/wysihtml5/wysihtml5.js"></script>
    <script type="text/javascript">
    $.fn.editable.defaults.mode = 'inline';

        $('#valuepop').popover(
            {
                trigger:'click',
                delay: 2000,
            });
        $('#valtip').tooltip('show');

        $('.competitor').editable({
            params: function(params) {
                //originally params contain pk, name and value
                params.csrfmiddlewaretoken = '{{csrf_token}}';
                return params;
            },
        });

        $('#funding-round').editable({
            value: 1,    
            source: [
                  {value: 'Seed', text: 'Seed'},
                  {value: 'Angel', text: 'Angel'},
                  {value: 'Series A', text: 'Series A'},
                  {value: 'Series B', text: 'Series B'},
                  {value: 'Series C', text: 'Series C'},
                  {value: 'Series D', text: 'Series D'},
                  {value: 'Series E', text: 'Series E'},
                  {value: 'Series F', text: 'Series F'},
                  {value: 'Series G', text: 'Series G'},
                  {value: 'Private Equity', text: 'Private Equity'},
                  {value: 'Grant', text: 'Grant'},
                  {value: 'Debt', text: 'Debt'},
                  {value: 'Venture Round', text: 'Venture Round'},
                  {value: 'Post IPO Equity', text: 'Post IPO Equity'},
                  {value: 'Post IPO Debt', text: 'Post IPO Debt'},
                ],
            params: function(params) {
                //originally params contain pk, name and value
                params.csrfmiddlewaretoken = '{{csrf_token}}';
                return params;
            },

        });

        $('#size-company').editable({

            source: [
                  {value: 1, text: '1 -10'},
                  {value: 2, text: '11 - 50'},
                  {value: 3, text: '51 - 150'},
                  {value: 4, text: '151 - 500'},
                  {value: 5, text: '501 - 1000'},
                  {value: 6, text: '1000 - 5001'},
                  {value: 7, text: '+ 5001'},

                ],
            params: function(params) {
                //originally params contain pk, name and value
                params.csrfmiddlewaretoken = '{{csrf_token}}';
                return params;
            },

        });



        $('.editable-value').editable({
            params: function(params) {
                //originally params contain pk, name and value
                params.csrfmiddlewaretoken = '{{csrf_token}}';
                return params;
            },
        }); 

</script>

{% endblock %}
</div>
</div>
