{% extends "base.html" %}

{% block title %}{{ company.name  }}{% endblock %}
{% block external %}
    <script src="{{ STATIC_URL}}colorbox/jquery.colorbox-min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL}}colorbox/colorbox.css" /> 
    <script>
        jQuery(document).ready(function () {
            jQuery('a.gallery').colorbox({ opacity:0.5 , rel:'group1' });
        });
    </script>
    <script>
       $(document).ready(function(){

        //A list of all the classes and Id's of the elements to be treated as read only tags.
        var tag_ids  = ['#company-product','#company-certification', '#company-industries', '#company-customers', '#company-offices', '#company-tags', '#company-applications', '#company-technologies']; 

        var company_tags = '{{ company.tags}}'

        for(i in company_tags){

            //Create read only tags for the degrees field
            var tags =  company_tags.split(",");
            var string_tags = ""; 


            for( j  in tags){
                string_tags += '<div class="label label-info">' + tags[j] + "</div>  ";
            }

            $("#co-tags").html(string_tags);

        }
        //for(i in tag_ids){

            //Create read only tags for the degrees field
            //var degrees =  $(this).find(tag_ids[i]).html().split(",");
            //var string_degrees = ""; 


            //for( j  in degrees){
            //  string_degrees += "<code>" + degrees[j] + "</code>  ";
            //}

            //$(tag_ids[i]).html(string_degrees);

        //}
        //Obtain twitter name and prettify it for the profile
//        var twitter_name  = $(this).find('#company-twitter-url').text().split("/").pop();
//            $('#company-twitter-url').text("@"+twitter_name);
            
            
       
        //Obtain the facebook profile name.
//        var facebook_name  = $(this).find('#company-facebook-url').text().split("/").pop();
//        $('#company-facebook-url').text(facebook_name)


       })
</script>
{% endblock %}

{% block content %}
{% load humanize %}

<div class="row">
    <div class="span1"></div>
    <div class="span2">

    {% if  user.is_staff or user.is_superuser or permission %}

        {% if percentage_profile %}
            <h5 class="pull-right">Profile {{ percentage_profile.percentage }}% complete</h5>
            <div class="percentage-box ">
                <br/>
               <div class="progress" style="width: 80%;">
                    <div class="bar" style="width: {{ percentage_profile.percentage }}%;"></div>
               </div>
            </div>
        {% endif %}
    {% endif %}
<br/>        
        <div class="media pull-right">
            <!--<a data-toggle="modal" class="pull-left picture-update" href="/company/{{ company.slug}}/logo/update/">-->
            <a data-toggle="modal" id="company-logo-update" class="pull-left" href="#logo-update-modal" data-model="Company" data-url="/formfields/Company/{{ company.id }}/logo/" data-pk="{{ company.id }}">

            {#<a data-toggle="modal" id="company-picture" class="pull-left" href="/company/{{ company.slug}}/logo/update/">#}
                
                {% if company.logo %}
    
                <img class="img-polaroid" data-src="holder.js/64x64" src="{{ MEDIA_URL }}{{ company.logo }}" height="130" width="160">
                {% else %}
                <img class="img-polaroid" data-src="holder.js/64x64" src="{{ STATIC_URL }}images/no_logo.png" height="96" width="140">
                
                {% endif %}
            </a><i data-toggle="popover" data-placement="right" data-content="Click here to change the company logo" data-html="true" class="icon-pencil valuepop" data-title="Company Logo"></i>
        </div>
<br/>
<hr/>

        <div "media" style="margin-top: 5%;">

            

                 <table class="table-borderless">
                    <th><h5>General Information</h5> </th>
                {% if  user.is_staff or user.is_superuser or permission %}
                        <tr>
                            <td colspan="2"><strong>Phone:</strong> <i data-toggle="popover" data-placement="right" data-content="This is the principal phone number of the company. To edit the phone, click it" data-html="true" class="icon-question-sign valuepop" data-title="Company Foundation"></i></td>
                         </tr><tr>
                            <td colspan="2" data-type="tel" data-model="Company" data-url="/formfields/Company/{{ company.id }}/main_phone/" data-pk="{{ company.id }}"  data-title="Company Main Phone"  id="company-phone" class="editable-value" href="{{ company.main_phone }}">{{ company.main_phone }}</td>
                        </tr>
                {% endif %}
                {% if company.founding_date %}
                    <tr>
                            <td><strong>Founding Date:</strong><i data-toggle="popover" data-placement="right" data-content="Year company foundation. To edit it, just click it" data-html="true" class="icon-question-sign valuepop" data-title="Company Phone Number "></i></td>
                            <td class="editable-value" data-type="number"  data-model="Company" data-url="/formfields/Company/{{ company.id }}/founding_date/" data-pk="{{ company.id }}" data-title="Company Since">{{ company.founding_date }}</td>
                    </tr>

                {% endif %}
                <div id="industry"> 
                    <tr>    
                        <td colspan="2"><strong>Industry:</strong> <i data-toggle="popover" data-placement="right" data-content="The thing we do for our clients" data-html="true" class="icon-question-sign valuepop" data-title="Company Industry"></i></td>
                     </tr><tr>
                        <td colspan="2" data-type="select" id="company-industry" data-model="Company" data-url="/formfields/Company/{{ company.id }}/categories/" data-pk="{{ company.id }}" data-title="Company Category">{{ company.categories }}</td >
                    </tr>

                </div>


                {% if company.applications %}
                    <tr>    
                        <td colspan="2"><strong>Applications:</strong> <i data-toggle="popover" data-placement="right" data-content="Kind of companies we have working. Just click it to edit " data-html="true" class="icon-question-sign valuepop" data-title="Company Applications "></i></td>
                    </tr><tr>
                        <td colspan="2" data-type="text" data-model="Company" data-url="/formfields/Company/{{ company.id }}/applications/" data-pk="{{ company.id }}"  data-title="Company Applications" class="editable-value" >{{ company.applications }}</td>
                    </tr>
                {% endif %}

                {% if company.employee_quantity %}
                    <tr>
                        <td colspan="2"><strong>No. Employees:</strong> <i data-toggle="popover" data-placement="right" data-content="A range of quantity the company have. Just click it to edit " data-html="true" class="icon-question-sign valuepop" data-title="Size of company "></i></td>
                    </tr><tr>
                        <td colspan="2" data-type="select" id="size-company" data-model="Company" data-url="/formfields/Company/{{ company.id }}/employee_quantity/" data-pk="{{ company.id }}" data-title="Company Size"> {{ company.get_employee_quantity_display }}</td>
                    </tr>
 
                {% endif %}
               </table>


                <h5>Certifications:  <i data-toggle="popover" data-placement="right" data-content="Certifications. Click a determinate association to edit" data-html="true" class="icon-question-sign valuepop" data-title="Company Certifications"></i></h5>

                <div id="certifications">
                {% if certifications %}
                        {% for certification in certifications %}
                        <div id="certifications-{{ certification.id }}"><a class="link-delete" data-type="certifications" data-id="{{ certification.id }}" id="{{ company.slug }}-certifications-{{ certification.id }}"  href="/company/{{ company.slug }}/certifications/{{certification.id}}/delete"><i class="icon-remove"></i></a>  <text data-type="text" data-model="Certification" data-url="/formfields/Certification/{{ certification.id }}/name/" data-pk="{{ certification.id }}"  data-title="Certification" class="editable-value" >{{ certification.name }}</text></div>

                        {% endfor %}
                {% else %}
                    <br/>

                {% endif %}

                        
                </div>


                {####Partnerships####}
                <h5>Partnership: <i data-toggle="popover" data-placement="right" data-content="Company Partners. Click a determinate association to edit" data-html="true" class="icon-question-sign valuepop" data-title="Partnerships"></i></h5>
                <div id="partnerships">
                {% if partnerships %}
                        {% for partnership in partnerships%}
                        <div id="partnerships-{{ partnership.id }}"><a class="link-delete" data-type="partnerships" data-id="{{ partnership.id }}" id="{{ company.slug }}-partnerships-{{ partnership.id }}"  href="/company/{{ company.slug }}/partnerships/{{partnership.id}}/delete"><i class="icon-remove"></i></a>  <text data-type="text" data-model="Partnership" data-url="/formfields/Partnership/{{ partnership.id }}/name/" data-pk="{{ partnership.id }}"  data-title="partnership" class="editable-value" >{{ partnership.name }}</text></div>
                        {% endfor %}
                {% else %}
                    <br/>
                {% endif %}
                  

                </div>

                <h5>Technology Expertise: <i data-toggle="popover" data-placement="right" data-content="Company strong areas. Click a determinate association to edit" data-html="true" class="icon-question-sign valuepop" data-title="Expertises"></i></h5>
                <div id="expertises">
                {% if expertises %}

                        {% for expertise in expertises%}
                        <div id="expertises-{{ expertise.id }}"><a class="link-delete" data-type="expertises" data-id="{{ expertise.id }}" id="{{ company.slug }}-expertises-{{ expertise.id }}" href="/company/{{ company.slug }}/expertises/{{expertise.id}}/delete"><i class="icon-remove"></i></a>  <text data-type="text" data-model="Expertise" data-url="/formfields/Expertise/{{ expertise.id }}/name/" data-pk="{{ expertise.id }}" class="editable-value" data-title="Expertises">{{expertise.name}}</text></div>
                        {% endfor %}
                {% else %}
                    <br/>
                {% endif %}
                    
                </div>


                <h5>Verticals: <i data-toggle="popover" data-placement="right" data-content="Industries where we have working for. Click a determinate association to edit" data-html="false" class="icon-question-sign valuepop" data-title="Verticals"></i></h5>
                <div id="verticals">
                {% if verticals %}

                    {% for vertical in verticals %}
                        <div id="verticals-{{ vertical.id }}"><a class="link-delete" data-type="verticals" data-id="{{ vertical.id }}" id="{{ company.slug }}-verticals-{{ vertical.id }}" href="/company/{{ company.slug }}/verticals/{{vertical.id}}/delete"><i class="icon-remove"></i></a><text data-type="text" data-model="Vertical" data-url="/formfields/Vertical/{{ vertical.id }}/vertical/" data-pk="{{ vertical.id }}" class="editable-value" data-title="Vertical Name">{{vertical.name}}</text> </div>
                    {% endfor %}

                {% else %}
                    <br/>
                {% endif %}
                    
                </div>


                <h5>Alliances:  <i data-toggle="popover" data-placement="right" data-content="These are our alliances. Click a determinate association to edit" data-html="true" class="icon-question-sign valuepop" data-title="Alliances"></i></h5>

                <div id="alliances">
                {% if alliances %}
                    
                    {% for alliance in alliances %}
                        <div id="alliances-{{ alliance.id }}"><a class="link-delete" data-type="alliances" data-id="{{ alliance.id }}" id="{{ company.slug }}-alliances-{{ alliance.id }}"  href="/company/{{ company.slug }}/alliances/{{alliance.id}}/delete"><i class="icon-remove"></i></a>  <text data-type="text" data-model="Alliance" data-url="/formfields/Alliance/{{ alliance.id }}/name/" data-pk="{{ alliance.id }}"  data-title="alliance" class="editable-value" >{{ alliance.name }}</text></div>

                    {% endfor %}

                {% else %}
                    <br/>
                {% endif %}

                    
                </div>


                <h5>Technical Association:<i data-toggle="popover" data-placement="right" data-content="Company technical associations. Click a determinate association to edit" data-html="true" class="icon-question-sign valuepop" data-title="Technical Associations"></i></h5>
                <div id="technicalassociations">
                {% if associations %}
                    {% for association in associations %}
                        <div id="associations-{{ association.id }}"><a class="link-delete" data-type="associations" data-id="{{ association.id }}" id="{{ company.slug }}-associations-{{ association.id }}"  href="/company/{{ company.slug }}/associations/{{association.id}}/delete"><i class="icon-remove"></i></a>  <text data-type="text" data-model="TechnicalAssociation" data-url="/formfields/TechnicalAssociation/{{ association.id }}/name/" data-pk="{{ association.id }}"  data-title="association" class="editable-value" >{{ association.name }}</text> </div>
                    {% endfor %}

                {% else %}
                    <br/>
                {% endif %}

                    
                </div>


                <h5>Awards: <i data-toggle="popover" data-placement="right" data-content="National and International recognitions for this company. Click a determinate association to edit" data-html="true" class="icon-question-sign valuepop" data-title="Company Awards"></i></h5>
                <div id="awards">
                {% if awards %}
                    {% for award in awards %}
                        <div id="awards-{{ award.id }}"><a class="link-delete" data-type="awards" data-id="{{ award.id }}" id="{{ company.slug }}-awards-{{ award.id }}"  href="/company/{{ company.slug }}/awards/{{award.id}}/delete"><i class="icon-remove"></i></a>  <text data-type="text" data-model="Award" data-url="/formfields/Award/{{ award.id }}/name/" data-pk="{{ award.id }}" class="editable-value" data-title="Award Name">{{ award.name }}</text></div>
                    {% endfor %}

                {% else %}
                    <br/>
                {% endif %}
                    
                </div>

                
            
        </div>
    </div>

    <div class="span6">
    
        {% if  user.is_staff or user.is_superuser or permission %}
            
            <div class="pull-right" style="margin-right:80px;">
                <button type="button" class="btn btn-primary" data-toggle="button" ONCLICK="window.location.href='/company/{{ company.slug }}'">  Edited  </button>
            </div>
        {% endif %}

        <div class="media">
            <h2 class="media-heading">{{ company.name  }} </h2>
                    <div class="icons">
            <a href="mailto:{{ company.email  }}" id="more-email"><span class="add-on"><img src="{{ STATIC_URL }}img/Mail-icon.png" height="16" width="16"></span></a>
            <a href="#" id="less-email" class="hide"><span class="add-on"><img src="{{ STATIC_URL }}img/Mail-icon2.png" height="16" width="16"></span></a>

            {% for link in companylinks %}

                <a href="#" id="more-linkedin"><span class="add-on"><img src="{{ STATIC_URL }}img/linkedin_icon.jpg" height="16" width="16"></span></a>
                <a href="#" id="less-linkedin" class="hide"><span class="add-on"><img src="{{ STATIC_URL }}img/linkedin_icon2.jpg" height="16" width="16"></span></a>

                <a href="#" id="more-facebook"><span class="add-on"><img src="{{ STATIC_URL }}img/fb1.jpg" height="16" width="16"></span></a>
                <a href="#" id="less-facebook" class="hide"><span class="add-on"><img src="{{ STATIC_URL }}img/fb2.jpg" height="16" width="16"></span></a>

                <a href="#" id="more-twitter"><span class="add-on"><img src="{{ STATIC_URL }}img/twitter_icon1.jpg" height="16" width="16"></span></a>
                <a href="#" id="less-twitter" class="hide"><span class="add-on"><img src="{{ STATIC_URL }}img/twitter_icon2.jpg" height="16" width="16"></span></a>

                <a href="#" id="more-weburl"><i class="icon-home"></i></a>
                <a href="#" id="less-weburl" class="hide"><i class="icon-home"></i></a>                    

                <a href="#" id="more-blog"><i class="icon-user"></i></a>
                <a href="#" id="less-blog" class="hide"><i class="icon-user"></i></a>

                {% endfor%}
                <i data-toggle="popover" data-placement="right" data-content="Click over the determinate button to update it" data-html="true" class="icon-question-sign valuepop" data-title="Company Urls"></i>
                
            </div>

            <div id="email" class="hide plus-email">
                <br>
                <div>Email: <a id="company-url" data-model="Company" data-url="/formfields/Company/{{ company.id }}/email/" data-pk="{{ company.id }}" data-title="Company Email" data-type="email" class="editable-value" href="{{ company.email }}">{{ company.email }}</a></div>
            </div>

        {% for link in companylinks %}
            <div id="linkedin"  class="hide plus-linkedin"><br>
                Linked In: <a id="company-li" data-model="CompanyLink" data-url="/formfields/CompanyLink/{{ link.id }}/linkedin_url/" data-pk="{{ link.id }}" data-title="Company Linkedin" data-type="url" class="editable-value" href="{{ link.linkedin_url }}">{{ link.linkedin_url }}</a>
            </div>
            <div id="facebook" class="hide plus-facebook"> <br>
                Facebook: <a data-model="CompanyLink" data-url="/formfields/CompanyLink/{{ link.id }}/facebook_link/" data-pk="{{ link.id }}" data-title="Company Facebook" data-type="url" id = "company-facebook-url" class="editable-value" href="{{ link.facebook_link  }} ">{{ link.facebook_link  }}</a>
            </div>
            <div id="twitter" class="hide plus-twitter"> <br>
                Twitter: <a data-model="CompanyLink" data-url="/formfields/CompanyLink/{{ link.id }}/twitter_url/" data-pk="{{ link.id }}" data-title="Company Twitter" data-type="url" id = "company-twitter-url" class="editable-value" href="{{ link.twitter_url  }} ">{{ link.twitter_url  }}</a>
            </div>
            <div id="weburl" class="hide plus-weburl"><br>
                Company Url:<a id="company-url" data-model="CompanyLink" data-url="/formfields/CompanyLink/{{ link.id }}/web_url/" data-pk="{{ link.id }}" data-title="Company Link" data-type="url" class="editable-value" href="{{ link.web_url }}">{{ link.web_url }}</a>
            </div>
            <div id="blog" class="hide plus-blog"><br>
                Company Blog: <a data-model="CompanyLink" data-url="/formfields/CompanyLink/{{ link.id }}/blog_url/" data-pk="{{ link.id }}" data-title="Company Blog URL" data-type="url" id="company-blog-url" class="editable-value" href="{{ link.blog_url  }}">{{ link.blog_url  }}</a>
            </div>

        {% endfor %}


    
        </div>
<!--
                <i data-toggle="popover" data-placement="right" class="valuepop" data-content="Who is your customer:(Segments)<br/> What problem do you solve:<br/>How do you solve it:</br>How is it different from other available solutions: <br/> What is the benefit to your customer:" data-html="true" class="fade" title="Value Proposition"><p><text class="editable-value muted" data-model="Company" data-url="/formfields/Company/{{ company.id }}/value_proposition/" data-pk="{{ company.id }}"  data-title="Value Proposition " id="company-value-proposition" data-type="wysihtml5" >{{ company.value_proposition|safe  }}</text><i class="icon-question-sign"></i></p></i>

-->
        <div class="media">
            <i data-toggle="popover" data-placement="right" class="valuepop" data-content="Who is your customer:(Segments)<br/> What problem do you solve:<br/>How do you solve it:</br>How is it different from other available solutions: <br/> What is the benefit to your customer:" data-html="true" class="icon-question-sign" data-title="Value Proposition "></i><p class="editable-value muted" data-model="Company" data-url="/formfields/Company/{{ company.id }}/value_proposition/" data-pk="{{ company.id }}"  data-title="Value Proposition " id="company-value-proposition" data-type="textarea" >{{ company.value_proposition|safe  }}
                
            </p>
        </div>


        <div class="media">
            <h4 class="media-heading"><strong class="muted">Company Description:</strong> <i data-toggle="popover" data-placement="right" data-content="A description for the company. To edit the description, just click over the current description" class="icon-question-sign valuepop" data-title="Description"></i></h4>
            <p><text id="company-description" data-model="Company" data-url="/formfields/Company/{{ company.id }}/description/" data-pk="{{ company.id }}"  data-title="Company Description" data-type="textarea" class="editable-value" >{{ company.description|safe}}</text> </p> 
        </div>
        <div class="media">
            {# To Change #}
<!--
            {% if company.tags %}
                <table> 
                    <tr>
                        <td><h4 class="media-heading muted">Related Categories:</h4> <i data-toggle="popover" data-placement="right" data-content="These are the related categories. Click any of them to edit" class="icon-question-sign valuepop" data-title="Related Categories"></i></td>
                    <tr></tr>
                        <td data-model="Company" data-url="/formfields/Company/{{ company.id }}/tags/" data-pk="{{ company.id }}"  data-title="Company Tags" data-type="text" class="editable-value" id="co-tags">{{ company.tags }}</td>
                    </tr>
                </table>
            {% endif %}
        <br/>
-->
        {% if user.contact.latech_contact or user.is_staff or user.is_superuser %}
        <div id="gtb-status"> 
        <h4 class="muted">GTB Status:<i class="icon-question-sign"></i></h4>

        <p><text data-type="select" id="company-status" data-model="Company" data-url="/formfields/Company/{{ company.id }}/company_status/" data-pk="{{ company.id }}" data-title="Company Status">{{ company.get_company_status_display }}</text></p>

        </div>
        {% endif %}

        <div id="country"> 
        <h4 class="muted">Country:</h4>

        <p><text data-type="select" id="company-country" data-model="Company" data-url="/formfields/Company/{{ company.id }}/country/" data-pk="{{ company.id }}" data-title="Company Country">{{ company.country }}<i class="icon-question-sign"></i></text></p>

        </div>


        {# Success Stories goes here #} 
        <h4 class="muted">Success Stories:</h4>
        {% if stories %}
            {% for story in stories %}
                 {% if story.link %}
                    {% if story.story_image %}
                        <img class="img-polaroid" data-src="holder.js/64x64" src="{{ MEDIA_URL }}{{ story.story_image}}" height="96", width="140">
                    {% else %}
                        <img class="img-polaroid" data-src="holder.js/64x64" src="{{ STATIC_URL }}images/no_logo.png" height="65" width="115">
        
                    {% endif %}

                    <div data-type="text" data-model="SuccessStories" data-url="/formfields/SuccessStories/{{ story.id }}/title/" data-pk="{{ story.id }}" class="editable-value" data-title="Story Name"><a class="link-delete" data-type="stories" data-id="{{ story.id }}" id="{{ company.slug }}-stories-{{ story.id }}" href="/company/{{ company.slug }}/stories/{{story.id}}/delete"><i class="icon-remove"></i></a>{{ story.title }}</div>
                {% endif %}
                <br/>

            {% endfor %}
        {% else %}
            <br/>
       {% endif %}


        {# Products goes here #} 
        
        <h4 class="muted">Products: <i data-toggle="popover" data-placement="right" data-content="Company Products. Click the product name and/or product price to edit" data-html="true" class="icon-question-sign valuepop" data-title="Company Products "></i></h4>
        <div id="products">

        {% if products %}

            <table class="table table-borderless" >
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Picture</th>
                    </tr>
              </thead>
                <tbody>
                    <tr>
                {% for product in products %}
                    <td id="products-{{ product.id }}" data-type="text" data-model="Product" data-url="/formfields/Product/{{ product.id }}/name/" data-pk="{{ product.id }}" class="editable-value" data-title="Product Name"><a class="link-delete" data-type="products" data-id="{{ product.id }}" id="{{ company.slug }}-products-{{ product.id }}" href="/company/{{ company.slug }}/products/{{ product.id }}/delete"><i class="icon-remove"></i></a>{{ product.name }}</td>

                    <td data-type="text" class="products-{{ product.id }} editable-value" data-model="Product" data-url="/formfields/Product/{{ product.id }}/price/" data-pk="{{ product.id }}" data-id="{{ product.id }}"   data-title="Product Price" >{{ product.price|floatformat:"2" }}</td>

                    
                    
                    {% if product.product_image %}
                    
                        <td>
                            <!--<a data-toggle="modal" href="/company/{{ company.slug }}/product_image/{{ product.id }}/update/"  data-target="#product-image-update"> -->
                        
                            <a data-toggle="modal" class="product-picture" data-id="{{ product.id }}" href="#product-image-update" data-pk="{{ product.id }}"  data-title="Product" class="pull-left">
                            <img class="img-polaroid" data-src="holder.js/64x64" src="{{ MEDIA_URL }}{{ product.product_image }}" data-id="{{ product.id }}" height="65" width="115"><i data-toggle="popover" data-placement="right" data-content="Click here to change the product picture" data-html="true" class="icon-pencil valuepop image-id" data-title="Product Picture"></i></a></td>
                     
                    {% else %}
                        
                        <td><!--<a data-toggle="modal" href="/company/{{ company.slug }}/product_image/{{ product.id }}/update/"  data-target="#product-image-update"> -->
                            <a data-toggle="modal" class="product-picture" data-id="{{ product.id }}" href="#product-image-update" data-title="Product" class="pull-left"> 
                            <img class="img-polaroid" data-src="holder.js/64x64" data-id="{{ product.id }}"src="{{ STATIC_URL }}images/no_logo.png" height="65" width="115"><i data-toggle="popover" data-placement="right" data-content="Click here to change the product picture" data-html="true" class="icon-pencil valuepop" data-title="Product Picture"></i></a></td>
                    
                    {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <br/>
       {% endif %}

        </div>

        {# Recommendations goes here #} 
        
       </div>
        



    </div>
    <div class="span3">
        <ul class="nav nav-list">
            <li><a class="add-element" data-model="Certification" href="/company/{{ company.slug }}/certifications/new"><i class="icon-plus"></i> Add Certification</a></li>
            <li><a class="add-element" data-model="Partnership" href="/company/{{ company.slug }}/partnerships/new"><i class="icon-plus"></i> Add Partnership</a></li>
            <li><a class="add-element" data-model="Expertise" href="#"><i class="icon-plus"></i> Add Expertise</a></li>
            <li><a class="add-element" data-model="Vertical" href="#"><i class="icon-plus"></i> Add a New Verticals</a></li>
            <li><a class="add-element" data-model="Alliance" href="/company/{{ company.slug }}/alliances/new"><i class="icon-plus"></i> Add Alliance</a></li>
            <li><a class="add-element" data-model="TechnicalAssociation" href="/company/{{ company.slug }}/associations/new"><i class="icon-plus"></i> Add a Technical Association:</a></li>
            <li><a class="add-element" data-model="Award" href="/company/{{ company.slug }}/awards/new"><i class="icon-plus"></i> Add award</a></li>
            <li><a class="add-element" data-model="Product" href="#"><i class="icon-plus"></i> Add a New Product</a></li>
            <li><a class="add-element" data-model="SuccessStories" href="#"><i class="icon-plus"></i> Add A Success Story</a></li>
            <li><a class="add-element" data-model="Project" href="#"><i class="icon-plus"></i> Add Project</a> </li>
            <li><a class="add-element" data-model="Acquisition" href="#"><i class="icon-plus"></i> Add Acquisitions</a></li>
            
        </ul>


        <hr>
        <h5>Projects: <i data-toggle="popover" data-placement="right" data-content="The things we do for our clients. Click a determinate project to edit" data-html="true" class="icon-question-sign valuepop" data-title="Company Projects"></i></h5>
        <div id="projects">

        {% if projects %}
            {% for project in projects %}
                <div id="projects-{{ project.id }}"><a class="link-delete" data-type="projects" data-id="{{ project.id }}" id="{{ company.slug }}-projects-{{ project.id }}" href="/company/{{ company.slug }}/projects/{{project.id}}/delete"><i class="icon-remove"></i></a>  <text data-type="text" data-model="Project" data-url="/formfields/Project/{{ project.id }}/name/" data-pk="{{ project.id }}" class="editable-value" data-title="Project Name">{{ project.name }}</text> </div>
            {% endfor %}
        {% else %}
            <br/>
    
        {% endif %}
            
            
        </div>

        <h5>Acquisitions: <i data-toggle="popover" data-placement="right" data-content="These are the companies adquired by {{ company.name }}" data-html="true" class="icon-question-sign valuepop" data-title="Adquired Companies"></i></h5>
        <div id="acquisitions">

        {% if acquisitions %}
            {% for acquisition in acquisitions %}
                <div id="acquisitions-{{ acquisition.id }}"><a class="link-delete" data-type="acquisitions" data-id="{{ acquisition.id }}" id="{{ company.slug }}-acquisitions-{{ acquisition.id }}" href="/company/{{ company.slug }}/acquisitions/{{ acquisition.id }}/delete"><i class="icon-remove"></i></a>  <text data-type="text" data-model="Acquisition" data-url="/formfields/Acquisition/{{ acquisition.id }}/name/" data-pk="{{ acquisition.id }}" class="editable-value" data-title="Acquired Name">{{ acquisition.name }}</text></div>
            {% endfor %}
                <br/>
        {% endif %}
            
        </div>
        
    </div>



</div>

        {# Modal for company logo update#}
    <div id="logo-update-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="CompanyLogoLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="CompanyLogoLabel">Updating Company Logo</h3>
        </div>
        <div class="modal-body">
            <form enctype="multipart/form-data" method="post" id="company-logo-form" action=".">
                {# <input type="file"  value="file" name="logo" id="id_logo" >{% csrf_token %} #}
                {{ company_logo_form.as_p }}{% csrf_token %} 
                
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn">Submit Form</button>
            </div>

            </form>
        </div>
    </div>

{# Modal for product image update#}
<div id="product-image-update" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="PictureLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="PictureLabel">Updating Image</h3>
    </div>

    <div class="modal-body">
        <form method="POST" enctype="multipart/form-data" id="product-img-form" action=".">{% csrf_token %} 
            <input type="file" name="product_image" id="id_product_image" >
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" id="save-product-picture" data-id="0">Save changes</button>

        </div>
        </form>
    </div>
</div>


<div id="companyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h3 id="myModalLabel">Login</h3>
    </div>
    <div class="modal-body">
            <div class="alert alert-success hide" id="success-notification">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              Congratulations! The new <strong id="succes-model"></strong> has been created on the database
            </div>
            <div class="alert alert-block alert-error hide" id="error-notification">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              Warning! The <strong id="error-model"></strong> element was not created in the database due to the following fields:

              <ul id="error-list">
              </ul>
              Please verify the fields and fill them corretly.
            </div>
            <form enctype="multipart/form-data" id="new-form" method="POST" action="." >
                {% csrf_token %}
                <div class="modal-form" data-model="0" >
                </div>
                <a href="#"  id="create-item"  class="btn btn-primary">Create</a>
                <a href="#"  id="add-another"  class="btn btn-info" >Create and Add another</a>
                <a href="#" id="cancel-modal" class="btn btn-inverse">Cancel</a>

            </form>
    </div>
    <div class="modal-footer">
    </div>
    </div>
        <script type="text/javascript">
            
            //select all the links with the function or class delete
           var link = $(".link-delete");

link.click(
    function(event){
        //eliminate the default function
        event.preventDefault();
        //get the data from the link when clicked; data = ["type_deletion","id","company_name"]*company comes by default
        
        
        var r = confirm("Are You sure You want to delete this item?");
        if( r == true){
            //pass the data to the ajax function to call the server
            var data_type = $(this).data("type");
            var id = $(this).data("id");
            var company_name = "{{ company.slug }}";
            $.ajax({
                url: "/company/"+company_name+"/"+data_type+"/"+id+"/delete",
                success: 
                    function(result){
                        $("#"+data_type+"-"+id).remove();  
                        $("."+data_type+"-"+id).remove();

                    },
                error: 
                    function(){
                        alert("We are experiencing problems wit error, please try again later");
                    }
            });

    }else{
        return false;
    }});


    var add = $(".add-element");

    add.click(
        function(event){
            var model = $(this).data("model");
            var data_type = $(this).data("type");
            var id = $(this).data("id"); //can be form_id
            event.preventDefault();

            $.ajax({
                url: "/forms/"+model+"/",
                data: { 'csrfmiddlewaretoken': '{{csrf_token}}' }, 
                type: "POST",
                cache: false,

                success: 
                    function(result){
                        $("#myModalLabel").html("Create a new "+ model +".");
                        $("#success-notification").addClass("hide");
                        $(".modal-form").html(result);
                        $(".modal-form").data("model", model);
                        $("#companyModal").modal("show");
                        $('#id_date').datepicker();
                        $('#id_acquired_date').datepicker();
                        $("#"+data_type+"-"+id).add();
                    },
                error: 
                    function(xhr){
                        //alert("Error: " + xhr.statusText);
                        alert("Error: " + xhr.responseText);
                        //alert("We are experiencing problems with the server , please try again later");
                        return false;
                    }
            });
            
        });

    var add_another = $('#add-another');
    add_another.click( 
        function(event){

            var model_name = $(".modal-form").data("model");
            event.preventDefault();
            $.ajax({
                url: "/forms/{{ company.slug }}/"+model_name+"/",
                type: "POST",
                cache: false,
                data:  $('#new-form').serialize(), 
                success: 
                    function(result){
                        $('#'+result.model.toLowerCase()+"s").append(result.template);
//                        $('#id_name').text("");
                        $.ajax({
                            url: "/forms/"+model_name+"/",
                            data: { 'csrfmiddlewaretoken': '{{csrf_token}}' }, 
                            type: "POST",
                            dataType: 'json',
                            cache: false,
                            success:
                                function(json){
                                    if(json.errors !== undefined){
                                        alert("Errors in the forms");

                                    }else{
                                       $("#succes-model").html(model_name); 
                                       $("#success-notification").removeClass("hide"); 
                                       $(".modal-form").trigger('reset');
                                    }},
                            error: 
                                function(xhr){
                                    console.log("Error: " + xhr.statusText);
                                    //alert("We are experiencing problems with the server , please try again later");
                                    return false;
                                },
                            });
                    },
                error: 
                    function(xhr){
                        console.log("Error 2: " + xhr.statusText);
                        //alert("We are experiencing problems with the server , please try again later");
                        return false;
                    }
            });
        });

    var modal_btn = $('#modal-btn');
    modal_btn.click( 
        function(event){

            event.preventDefault();
            $.ajax({
                url: "/forms/{{ company.slug }}/"+model+"/",
                type: "POST",
                cache: false,
                data: { 'csrfmiddlewaretoken': '{{csrf_token}}' }, 
                success: 
                    function(result){
                        alert("Success");
                    },
                error: 
                    function(xhr){
                        alert("Error: " + xhr.statusText);
                        //alert("We are experiencing problems with the server , please try again later");
                        return false;
                    }
            });
        })

    var cancel_modal = $("#cancel-modal");

    cancel_modal.click(
        function(event){
            event.preventDefault();
            $("#companyModal").modal("hide");
        });


    
    var create_item = $('#create-item');
    create_item.click( 
        function(event){

            var model_name = $(".modal-form").data("model");
            var id = $(this).data("id"); //can be form_id

            event.preventDefault();
            $.ajax({
                url: "/forms/{{ company.slug }}/"+model_name+"/",
                type: "POST",
                cache: false,
                data:  $('#new-form').serialize(), 
                success :
                    function(result){
                        $('#'+result.model.toLowerCase()+"s").append(result.template);
                        $("#companyModal").modal("hide");
                 } 
                    
                    
                    
                    ,
                error: 
                    function(xhr){
                        alert("Error: " + xhr.statusText);
                        //alert("We are experiencing problems with the server , please try again later");
                        return false;
                    }
            });
        })

/*
Updating Company Logo
*/

    var logo_update = $('#company-logo-update');
        logo_update.click( 
        function(event){
            event.preventDefault();
            $('#logo-update-modal').removeClass('hide');


        });

/*
Updating Product Images
*/
    //var picture_update = $('#picture-update');
    var picture_update = $('.product-picture');
        picture_update.click( 
          function(event){
            $('#product-image-update').removeClass('hide');
            //$('#save-product-picture').data("id") = $(this).data("id");
            $('#hidden-val').data("id") = $(this).data("id");

            event.preventDefault();
        });

    var save_product_picture = $('#save-product-picture');
    save_product_picture.click( 
        function(event){

            var model_name = "Product";
            //var id = $("#").data("id"); //can be form_id
            var id = $(".product-picture").data("id");



            event.preventDefault();
            $.ajax({
                //url: "/forms/{{ company.slug }}/"+model_name+"/",
                url: "/imagefields/Product/"+id+"/product_image/",
                type: "POST",
                cache: false,
                data:  $('#product-img-form').serialize(), 
                success :
                    function(result){
//                        $('#'+result.model.toLowerCase()+"s").append(result.template);
                        $("#product-image-update").modal("hide");
                 } 
                    ,
                error: 
                    function(xhr){
                        alert("Error: " + xhr.statusText);
                        //alert("We are experiencing problems with the server , please try again later");
                        return false;
                    }
            });
        })

        </script>

    <script src="{{ STATIC_URL}}js/scripts.js"></script>  
    <link href="{{ STATIC_URL }}bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}bootstrap-editable/js/bootstrap-editable.js"></script>
    <link href="{{ STATIC_URL }}inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.css" rel="stylesheet"> 
    <script src="{{ STATIC_URL }}inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/wysihtml5-0.3.0.min.js"></script>  
    <script src="{{ STATIC_URL }}inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.min.js"></script>
    <script src="{{ STATIC_URL }}inputs-ext/wysihtml5/wysihtml5.js"></script>
    <script type="text/javascript">
    $.fn.editable.defaults.mode = 'inline';

        $('.valuepop').popover(
            {
                trigger:'hover',
                delay: 1000,
            });
        $('.valuepopfile').popover(
            {
                trigger:'click',
                delay: 1000,
            });

        $('#valtip').tooltip('show');

        $('.competitor').editable({
            params: function(params) {
                //originally params contain pk, name and value
                params.csrfmiddlewaretoken = '{{csrf_token}}';
                return params;
            },
        });

        $('#funding-round').editable({
            value: 1,    
            source: [
                  {value: 'Seed', text: 'Seed'},
                  {value: 'Angel', text: 'Angel'},
                  {value: 'Series A', text: 'Series A'},
                  {value: 'Series B', text: 'Series B'},
                  {value: 'Series C', text: 'Series C'},
                  {value: 'Series D', text: 'Series D'},
                  {value: 'Series E', text: 'Series E'},
                  {value: 'Series F', text: 'Series F'},
                  {value: 'Series G', text: 'Series G'},
                  {value: 'Private Equity', text: 'Private Equity'},
                  {value: 'Grant', text: 'Grant'},
                  {value: 'Debt', text: 'Debt'},
                  {value: 'Venture Round', text: 'Venture Round'},
                  {value: 'Post IPO Equity', text: 'Post IPO Equity'},
                  {value: 'Post IPO Debt', text: 'Post IPO Debt'},
                ],
            params: function(params) {
                //originally params contain pk, name and value
                params.csrfmiddlewaretoken = '{{csrf_token}}';
                return params;
            },

        });

        $('#company-status').editable({
            {% if company.company_status %}
                 value: "{{ company.company_status }}",
            {% endif %}

           
            source: [


                 {value: "", text: "Any"},
                 {value: 1, text: "GTB-0"},
                 {value: 2, text: "GTB-1"},
                 {value: 3, text: "GTB-2"},
                 {value: 4, text: "GTB-3"},
                 {value: 5, text: "GTB-4"},
                ],
            params: function(params) {
                //originally params contain pk, name and value
                params.csrfmiddlewaretoken = '{{csrf_token}}';
                return params;
            },

        });



        $('#company-country').editable({
            {% if company.country %}
                 value: "{{ company.country.id }}",
            {% endif %}

           
            source: [

                {% for country in countries %}
                 {value: "{{ country.id }}", text: "{{ country.name }}"},  
                {% endfor %}

                ],
            params: function(params) {
                //originally params contain pk, name and value
                params.csrfmiddlewaretoken = '{{csrf_token}}';
                return params;
            },

        });

        $('#company-industry').editable({
            {% if company.categories %}
                 value: "{{ company.categories.id }}",
            {% endif %}

           
            source: [

                {% for industry in industries %}
                 {value: "{{ industry.id }}", text: "{{ industry.name }}"},  
                {% endfor %}

                ],
            params: function(params) {
                //originally params contain pk, name and value
                params.csrfmiddlewaretoken = '{{csrf_token}}';
                return params;
            },

        });


        $('#size-company').editable({

            source: [
                  {value: 1, text: '1 -10'},
                  {value: 2, text: '11 - 50'},
                  {value: 3, text: '51 - 150'},
                  {value: 4, text: '151 - 500'},
                  {value: 5, text: '501 - 1000'},
                  {value: 6, text: '1000 - 5001'},
                  {value: 7, text: '+ 5001'},

                ],
            params: function(params) {
                //originally params contain pk, name and value
                params.csrfmiddlewaretoken = '{{csrf_token}}';
                return params;
            },

        });



        $('.editable-value').editable({
            params: function(params) {
                //originally params contain pk, name and value
                params.csrfmiddlewaretoken = '{{csrf_token}}';
                return params;
            },
        }); 




</script>

{% endblock %}
</div>
</div>
