{% extends "base.html" %}

{% block title %}Funding Administration{% endblock title %}

{% block external %}
<script type="text/javascript">
    $("ul.errorlist").addClass("alert");
   
</script>
{% endblock external %}

{% block content %}
    {% if info %}
        <ul class="breadcrumb">
          <li><a href="/">Home</a> <span class="divider">/</span></li>
          <li><a href="/company/{{ info.company }}">{{ info.company }}</a> <span class="divider">/</span></li>
          <li class="active">{{ info.name }}</li>
        </ul>
    {% else %}
        <ul class="breadcrumb">
          <li><a href="/">Home</a> <span class="divider">/</span></li>
          <li><a href="/company/{{ company.slug }}">{{ company.slug }}</a> <span class="divider">/</span></li>
          <li class="active">New</li>
        </ul>
    {% endif %}

    {% if form %}
        <form method="Post" action=".">
            {% csrf_token %} 
                {% if form_errors %}
                    <div class="alert" > <strong>Warning!</strong>The Following fields need to be completed correctly:
                        {% for error in form_errors %}
                            <div class="text-error">*{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% for field in form %}
                        {{ field.label_tag }} {{ field }}
                        {{ field_errors }}
                {% endfor %}
                <script type="text/javascript">
                        $('select#id_name').before().replaceWith('<label for="id_name">Funding\'s Name</label>');
                        //$('select#id_name').remove();

                

                </script>
                <br/>
            <button type="submit" class="btn">Submit Form</button>
        </form>
    {% endif %}
    {% if details %}
        <div class="media">
            <h4 class="media-heading"> Funding Name:</h4>
            <p>{{ details.name }}</p>
        </div>
    {% endif %}

{% endblock content %}
