{% extends "base.html" %}
<title>{% block title %}Globaltech - Your connection to the enterprise world{% endblock %}</title>
{% block header %}


{% block external %}

{% if user.is_authenticated %}
	
{% else %}
	<script>  $(document).ready(function(){
	           // $('#myModal').modal('show');
	            $('#myModal').modal({
  backdrop: 'static',
  keyboard: true
});



	       });</script>



{% endif %}

{% endblock %}


{% endblock %}



{% block content %}
<div class="container">
	<div class="row">
		<div class="span3">
			<div class="tabbable"> <!-- Only required for left/right tabs -->
				  <ul class="nav nav-tabs">
				    <li class="active"><a href="#company-tab" data-toggle="tab">Companies</a></li>
				    <li><a class="mute" href="#employee-tab" data-toggle="tab">Contacts</a></li>
				  </ul>
				  <div class="tab-content">
				    <div class="tab-pane active" id="company-tab">
				      <form id="search-company-form" method="get" action=".">
 						{{ company_form.as_p }}
						<input type="submit" value="search">
				    	</form>
				    </div>
				    <div class="tab-pane" id="employee-tab">
				      <form id="search-contact-form" method="get" action=".">
						{{ contact_form.as_p }}
						<input type="submit" value="search">
						</form>
				    </div>
  				</div>
			</div>
		</div>
	
<!--- Modal Form -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    
    <h3 id="myModalLabel">Login</h3>
  </div>
  <div class="modal-body">
  	<p>Sign in with Your Globaltech User.</p>
    <form method="POST" action="/login/" >
    	{% csrf_token %}
    	{{ user_form.as_p}}
    	<input type="submit" class="btn btn" value="Sign In" />
    </form>
  </div>
  <div class="modal-footer">
  </div>
</div>

	


	<div class="span9">
		<div id="search-company">
			{% if show_results %}
    			{% include "company_list.html" %}
			{% endif %}
		</div>
		<div id="search-contact">
			{% if show_results %}
			    {% include "contact_list.html" %}
			{% endif %}
		</div>




		

	

		<div>
			<ul class="media-list">
				<li class="media">
					<p class="media-heading"><a href="http://tomdale.net/2013/01/my-ios-7-wishlist/">Tron Legacy (2010)</a> (jtnimoy.net)</p>

				</li>


			</ul>
		</div>
	</div>
</div>
</div>

{% endblock %}

