{% extends "base.html" %}
<title>{% block title %}Globaltech - Your connection to the enterprise world{% endblock %}</title>



{% block external %}


{% endblock %}



{% block content %}
<div class="container">
	<div class="row">
		<div class="span3">
			<div class="tabbable"> <!-- Only required for left/right tabs -->
				  <ul class="nav nav-tabs">
				    <li class="active"><a href="#company-tab" data-toggle="tab">Companies</a></li>
				     {% if latech.contact %}
				    <li><a class="mute" href="#employee-tab" data-toggle="tab">Contacts</a></li>
				    {% endif%}
				  </ul>
				  <div class="tab-content">
				    <div class="tab-pane active" id="company-tab">
				      <form id="search-company-form" method="get" action=".">
 						{{ company_form.as_p }}
				     {% if latech.contact %}
 						{{ company_status_form.as_p }}
				    {% endif%}

						<input type="submit" value="search">
				    	</form>
				    </div>
				    {% if latech.contact %}
				    <div class="tab-pane" id="employee-tab">
				      <form id="search-contact-form" method="get" action=".">
						{{ contact_form.as_p }}
						<input type="submit" value="search">
						</form>
					
				    </div>
				    {% endif %}
  				</div>
			</div>
		</div>



	<div class="span8">
			{% if show_results %}
		<div id="search-company">

    			{% include "company_list.html" %}
		</div>
		<div id="search-contact">
			    {% include "contact_list.html" %}
		</div>


		{% else %}
		
		<table class="table table-bordered table-hover">
			<tbody>
				<tr>
					<th>#</th>
					<th>Post Info</th>
					<th>User</th>
				</tr>
				{% for news in hacked_news %}
				<tr>
					<td>{{ news.id }}</td>
					<td><a href="{{ news.url }}">{{ news.text }}</a></td>
					<td>published by: {{news.user }}</td>
				</tr>
				{% endfor %}
		</tbody>
		</table>
	{% endif %}
	</div>
</div>
</div>

{% endblock %}

