{% extends "base.html" %}
<title>{% block title %}Please create your Ticket{% endblock %}</title>



{% block external %}


{% endblock %}



{% block content %}
	<form method="Post" action="/create/">
		{% csrf_token %} 

		{% if ticket_confirmation %}
			<div class="alert alert-success">
				<strong>Congratulations!</strong> Your Report is complete and It's number is {{ ticket_confirmation }}. 
			</div>
		{% endif %}
		{% if form_errors %}
		 <div class="alert" > <strong>Warning!</strong>The Following fields need to be completed corretly:</div>
			{% for error in form_errors %}
				<div class="text-error">{{ error }}</div>


			{% endfor %}
		{% endif %}


		{% for field in ticket_form %}
			{{ field.label_tag }} {{ field }}
			{{ field_errors }}
		{% endfor %}
		<br/>
		<button type="submit" class="btn">Submit Form</button>
	</form>
{% endblock %}