{% extends "index.html" %}

{% block content %}
<br/>
{% if user.is_authenticated %}

       <h1>Hello {{ username }}, you canedit your profile <a href="/profile/{{ user.username }}/edit">Here</a> </h1>
{% endif %}

<h1> <p> {{ username  }}</p></h1>

<p> {{ contact.fr_name  }}</p>
<p> {{ contact.ls_name  }}</p>
<p> {{ contact.m_name  }}</p>
<p> {{ contact.overview  }}</p>
<p> {{ contact.phone  }}</p>
<p> {{ contact.degrees  }}</p>
<p> {{ contact.ld_url  }}</p>
<p> {{ contact.t_url  }}</p>
<p> {{ contact.blog_url  }}</p>
<p> {{ contact.ext_url  }}</p>
<p> {{ contact.lt_contact  }}</p>
<p> {{ contact.tag.all  }}</p>
<p> {{ contact.company.name }}</p>
<p> {{ contact.financial_organization  }}</p>
<p> {{ contact.government_organization  }}</p>
<p> {{ contact.title  }}</p>
{% if contact.industry.all %}
<p> {{ contact.industry.all  }}</p>
{% endif %}
{% if contact.technology.all %}
{%for app in contact.technology.all %}
<p> {{ app.name  }} </p>
{% endfor %}
{% endif %}
{% if contact.application.all %}
{%for app in contact.application.all %}
<p> {{ app.name  }} </p>
{% endfor %}
{% endif %}
{% endblock %}


