{% extends "index.html" %}
{% block external %}
<script>
       $(document).ready(function(){

       	//A list of all the classes and Id's of the elements to be treated as read only tags.
       	var tag_ids  = ['#degreescontact','#financial-organization','#titlecontact','#industry-contact', 
       		'#goverment-contact', '#technology-contact','#application-contact']; 



       	for(i in tag_ids){

       		//Create read only tags for the degrees field
       		var degrees =  $(this).find(tag_ids[i]).html().split(",");
       		var string_degrees = ""; 


        	for( j  in degrees){
       			string_degrees += "<code>" + degrees[j] + "</code>  ";
       		}

       		$(tag_ids[i]).html(string_degrees);

       	}
       	//Obtain twitter name and prettify it for the profile
       	var twitter_name  = $(this).find('#twitter-contact-url').text().split("/").pop();
       	$('#twitter-contact-url').text("@"+twitter_name)


       })
</script>

{% endblock %}

{% block content %}
<br/>
{% if user.is_authenticated %}
{% for contact in contacts%}
	<div class="pull-right">
		<button type="button" class="btn btn-primary" data-toggle="button" ONCLICK="window.location.href='/profile/{{ contact.id }}/edit'">  Edit  </button>
		<button type="button" class="btn btn-primary" data-toggle="button" ONCLICK="window.location.href='/profile/{{ contact.id }}/urls'">  Edit Urls </button>

	</div>
{% endfor %}
{% endif %}

{% for contact in contacts%}
<div class="span10"> 
<div class="media">
	{% if contact.photo_profile %}
		<a class="pull-left" href="{{ MEDIA_URL }}{{ contact.photo_profile }}">

        <img class="media-object"  src="{{ MEDIA_URL }}{{ contact.photo_profile }}" height="128" width="96">
	 </a>

	{% else %}
		<a class="pull-left" href="#">
		<img class="media-object" data-src="holder.js/64x64" src="https://lh5.googleusercontent.com/-1aRlNGIw-Ds/AAAAAAAAAAI/AAAAAAAAAAA/wSDKpraSvbs/s250-c-k/photo.jpg" height="64" width="64">
	 </a>

    {% endif %}
	 <div class="media-body">
         
 	<h4 class="media-heading"><a href="#" data-type="text" data-model="Contact" data-url="/userfields/Contact/{{contact.id }}/fr_name/" data-pk="{{ contact.id }}"  data-title="Contact First Name" id="contact-first-name" class="editable-value">{{ contact.fr_name  }}</a> <a href="#" class="editable-value" <text data-type="text" data-model="Contact" data-url="/userfields/Contact/{{contact.id }}/ls_name/" data-pk="{{ contact.id }}"  data-title="Contact Last name" id="contact-last-name">{{ contact.ls_name  }}</a> </h4>

         <p> <strong class="muted">Company: </strong><a href="#" data-type="text" data-model="Contact" data-url="/userfields/Contact/{{contact.id }}/company/" data-pk="{{ contact.id }}"  data-title="Contact Company" id="contact-company" class="editable-value">{{ contact.company.name }}</a>

         
     </div>
</div>
<div class="media">
	<h4 class="media-heading"><strong class="muted">Summary:</strong></h4>
	<p><text data-type="text" data-model="Contact" data-url="/userfields/Contact/{{contact.id }}/overview/" data-pk="{{ contact.id }}"  data-title="Contact Overview" id="contact-overview" class="editable-value"> {{ contact.overview  }}</text> </p>
</div>

<div class="media">
<table class="table">
	<tbody>
		<tr>
			<td>Email:</td>
			<td><a href="#" id="id_email" data-type="email" data-model="Contact" data-url="/userfields/Contact/{{contact.id }}/email/" data-pk="{{ contact.id }}"  data-title="Contact email"  class="editable-value">{{ contact.email  }}</a></td>

			<td>Phone:</td>
			<td><a href="#" data-type="tel" data-model="Contact" data-url="/userfields/Contact/{{contact.id }}/phone/" data-pk="{{ contact.id }}"  data-title="Contact phone" id="contact-phone" class="editable-value">{{ contact.phone  }}</a></td>

		</tr>
		<tr>
{% endfor %}			
{% for urls in contacts_urls%}
			<td>Twitter:</td>
			
			<td><a id = "twitter-contact-url" data-type="url" data-model="Contact_Urls" data-url="/userfields/Contact_Urls/{{contact_urls.id }}/t_url/" data-pk="{{ contact_urls.id }}"  data-title="Contact Twitter" class="editable-value" href="{{ urls.t_url  }}">{{ urls.t_url }} </a></td>
			
			<td>LinkedIn:</td>
			
			<td><a id = "contact-linkedin" data-type="url" data-model="Contact_Urls" data-url="/userfields/Contact_Urls/{{contact_urls.id }}/ld_url/" data-pk="{{ contact_urls.id }}"  data-title="Contact LinkedIn" class="editable-value" href="{{ urls.ld_url  }}">{{ urls.ld_url }} </a></td>

		</tr>
		<tr>
			<td>Blog: </td>
			
			<td> <a href="{{ urls.blog_url }}" data-type="url" data-model="Contact_Urls" data-url="/userfields/Contact_Urls/{{contact_urls.id }}/blog_url/" data-pk="{{ contact_urls.id }}"  data-title="Contact Twitter" id="contact-blog" class="editable-value">{{ urls.blog_url}}</a></td>

			<td>External URL</td>

			<td><a href="{{ urls.ext_url  }}" data-type="url" data-model="Contact_Urls" data-url="/userfields/Contact_Urls/{{contact_urls.id }}/ext_url/" data-pk="{{ contact_urls.id }}"  data-title="Contact Twitter" id="contact-twitter" class="editable-value">{{ urls.ext_url  }}</a></td>

		</tr>
{% endfor %}
{% for contact in contacts%}

		<tr>
			<td>Degrees:</td>
			<td  id="degreescontact" data-type="text" data-model="Contact" data-url="/userfields/Contact/{{contact.id }}/degrees/" data-pk="{{ contact.id }}"  data-title="Contact Degrees" class="editable-value">{{ contact.degrees  }}</td>
			<td>Titles:</td>
			<td id="titlecontact" data-type="text" data-model="Contact" data-url="/userfields/Contact/{{contact.id }}/title/" data-pk="{{ contact.id }}"  data-title="Contact Titles" class="editable-value"> {{ contact.title  }}</td>
		</tr>

	</tbody>

</table>
			<td>{{ contact.lt_contact  }}</td>
</div>



<div class="media">
	<h4 class="media-heading"><strong class="muted">Skills and Expertise: </strong></h4>
<p> <text data-type="text" data-model="Contact" data-url="/userfields/Contact/{{contact.id }}/tags/" data-pk="{{ contact.id }}"  data-title="Contact Degrees" class="editable-value">{{ contact.tags  }}</text></p><br>
<div class="media">
	<h4 class="media-heading"><strong class="muted">Related Financial Organization:</strong></h4>
	<p id="financial-organization"><text data-type="text" data-model="Contact" data-url="/userfields/Contact/{{contact.id }}/financial_organization/" data-pk="{{ contact.id }}"  data-title="Contact FO" class="editable-value">{{ contact.financial_organization  }}</text></p><br>
</div>

<div class="media">
	<h4 class="media-heading"><strong class="muted">Related Government Organization:</strong></h4>
	<p id="goverment-contact"> <text data-type="text" data-model="Contact" data-url="/userfields/Contact/{{contact.id }}/government_organization/" data-pk="{{ contact.id }}"  data-title="Contact Degrees" class="editable-value">{{ contact.government_organization  }}</text></p><br>
</div>



<div class="media">
	<h4 class="media-heading"><strong class="muted">Industries:</strong></h4>
	<p id="industry-contact"><text data-type="text" data-model="Contact" data-url="/userfields/Contact/{{contact.id }}/industry/" data-pk="{{ contact.id }}"  data-title="Contact Degrees" class="editable-value">{{ contact.industry }}</text> </p><br>
</div>
 

<div class="media">
	<h4 class="media-heading"><strong class="muted">Used Technologies:</strong></h4>

	<p id="technology-contact"><text data-type="text" data-model="Contact" data-url="/userfields/Contact/{{contact.id }}/technology/" data-pk="{{ contact.id }}"  data-title="Contact Degrees" class="editable-value">{{ contact.technology }}</text></p>

</div>



<div class="media">
	<h4 class="media-heading"><strong class="muted">Related Applications:</strong></h4>
	<p id="application-contact"><text data-type="text" data-model="Contact" data-url="/userfields/Contact/{{contact.id }}/application/" data-pk="{{ contact.id }}"  data-title="Contact Degrees" class="editable-value">{{ contact.application }}</text></p>
	<br>

	</div>
<link href="{{ STATIC_URL }}bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
<script src="{{ STATIC_URL }}bootstrap-editable/js/bootstrap-editable.js"></script>
<script type="text/javascript">
	$.fn.editable.defaults.mode = 'inline';
        $('.editable-value').editable({
            params: function(params) {
                //originally params contain pk, name and value
                params.csrfmiddlewaretoken = '{{csrf_token}}';
                return params;
            },
        }); 
</script>
{% endfor %}

{% endblock %}
</div>
