html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#navigation{

        position: fixed;
        top: 0;
        width: 100%;
        color: #ffffff;
        height: 35px;
        text-align: center;
        padding-top: 15px;

        /* Adds shadow to the bottom of the bar */

        -webkit-box-shadow: 0px 0px 8px  0px #000000;
        -moz-box-shadow: 0px 0px 8px 0px #000000;
        box-shadow: 0px 0px 8px 0px #000000;

        /* Adds the transparent background */
        background-color: rgba(1, 1, 1, 0.8);
        color: rgba(1, 1, 1, 0.8);
}

#navigation a {
        font-size:14px; 
        padding-left: 15px;
        padding-right: 15px;
        color: white;
        text-decoration: none;
}

#navigation a:hover {
        color: gray;

}

#body{

        margin-top: 55px; 
}

hide{
        display:none;
}

label
{
        width: 15em;
        float: left;
        text-align: right;
        margin-left: 20px;
        margin-right: 5.5em;
        display: block;
}


/*form {
        width: 800px;
        padding: 2%;
        margin-left: 20%;
        border: 1px solid #270644;
}*/

/*Login Form info*/
#login-box {
    width:333px;
    height: 352px;
    padding: 58px 76px 0 76px;
    color: #ebebeb;
    font: 12px Arial, Helvetica, sans-serif;
    background: url(images/login-box-backg.png) no-repeat left top;
}

#login-box img {
    border:none;
}

#login-box h2 {
    padding:0;
    margin:0;
    color: #ebebeb;
    font: bold 44px "Calibri", Arial;
}


#login-box-name {
    float: left;
    display:inline;
    width:80px;
    text-align: right;
    padding: 14px 10px 0 0;
    margin:0 0 7px 0;
}

#login-box-field {
    float: left;
    display:inline;
    width:230px;
    margin:0;
    margin:0 0 7px 0;
}


.form-login  {
    width: 205px;
    padding: 10px 4px 6px 3px;
    border: 1px solid #0d2c52;
    background-color:#1e4f8a;
    font-size: 16px;
    color: #ebebeb;
}


.login-box-options  {
    clear:both;
    padding-left:87px;
    font-size: 11px;
}

.login-box-options a {
    color: #ebebeb;
    font-size: 11px;
}

.login-submit{
    background-color: #4a87d6;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 4px solid #4a87d6;
  padding: 5px;
  width: 113px;
  height: 52px; 
  font-family: Impact, Charcoal, sans-serif;
  font-style: bold;
  font-size: 20px;
  color: white;
  -moz-box-shadow:    1px 1px 2px 2px #ccc;
  -webkit-box-shadow: 1px 1px 2px 2px #ccc;
  box-shadow:         1px 1px 2px 2px #ccc;

}
.login-submit:hover {
     background-color: #4a87d6;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 4px solid #4a87d6;
  padding: 5px;
  width: 113px;
  height: 52px; 
  font-family: Impact, Charcoal, sans-serif;
  font-style: bold;
  font-size: 20px;
  color: white;
  -moz-box-shadow:    0px 0px 3px 3px #ccc;
  -webkit-box-shadow: 0px 0px 3px 3px #ccc;
  box-shadow:         0px 0px 3px 3px #ccc;

}